In [ ]:
from pysus.online_data import SIM, parquets_to_dataframe
from pysus.preprocessing.decoders import decodifica_idade_SIM, translate_variables_SIM
from pysus.online_data.SIM import download

In [ ]:
pip install pysus

In [ ]:
import datetime
import pandas as pd
%config Completer.use_jedi = False # this speeds up autocomplete
import numpy as np

In [ ]:
df = parquets_to_dataframe(SIM.download('AL',2019))
df

In [ ]:
estados = ['AC','AL','AP','AM','BA','CE','DF','ES','GO',
          'MA','MT','MS','MG','PA','PB','PR','PE','PI',
          'RJ','RN','RS','RO','RR','SC','SP','SE','TO']

ano = [2010]

# 2010

# ACRE

In [ ]:
ac_2010 = parquets_to_dataframe(download('AC', 2010))
ac_2011 = parquets_to_dataframe(download('AC', 2011))
ac_2012 = parquets_to_dataframe(download('AC', 2012))
ac_2013 = parquets_to_dataframe(download('AC', 2013))
ac_2014 = parquets_to_dataframe(download('AC', 2014))
ac_2015 = parquets_to_dataframe(download('AC', 2015))
ac_2016 = parquets_to_dataframe(download('AC', 2016))
ac_2017 = parquets_to_dataframe(download('AC', 2017))
ac_2018 = parquets_to_dataframe(download('AC', 2018))
ac_2019 = parquets_to_dataframe(download('AC', 2019))
ac_2020 = parquets_to_dataframe(download('AC', 2020))
ac_2021 = parquets_to_dataframe(download('AC', 2021))

In [ ]:
# Imprime o número de linhas e colunas de cada DataFrame
for ac_ano in [ac_2010, ac_2011, ac_2012, ac_2013, ac_2014, ac_2015, ac_2016, ac_2017, ac_2018, ac_2019, ac_2020, ac_2021]:
    print(f"O DataFrame tem {ac_ano.shape[0]} linhas e {ac_ano.shape[1]} colunas")

O DataFrame tem 3009 linhas e 59 colunas
O DataFrame tem 3157 linhas e 62 colunas
O DataFrame tem 3293 linhas e 77 colunas
O DataFrame tem 3318 linhas e 73 colunas
O DataFrame tem 3476 linhas e 88 colunas
O DataFrame tem 3517 linhas e 88 colunas
O DataFrame tem 3763 linhas e 88 colunas
O DataFrame tem 3832 linhas e 88 colunas
O DataFrame tem 4094 linhas e 88 colunas
O DataFrame tem 4098 linhas e 87 colunas
O DataFrame tem 4860 linhas e 87 colunas
O DataFrame tem 5496 linhas e 87 colunas

In [ ]:
ac_2010['estado'] = 'AC'
ac_2010['ano'] = 2010

ac_2011['estado'] = 'AC'
ac_2011['ano'] = 2011

ac_2012['estado'] = 'AC'
ac_2012['ano'] = 2012

ac_2013['estado'] = 'AC'
ac_2013['ano'] = 2013

ac_2014['estado'] = 'AC'
ac_2014['ano'] = 2014

ac_2015['estado'] = 'AC'
ac_2015['ano'] = 2015

ac_2016['estado'] = 'AC'
ac_2016['ano'] = 2016

ac_2017['estado'] = 'AC'
ac_2017['ano'] = 2017

ac_2018['estado'] = 'AC'
ac_2018['ano'] = 2018

ac_2019['estado'] = 'AC'
ac_2019['ano'] = 2019

ac_2020['estado'] = 'AC'
ac_2020['ano'] = 2020

ac_2021['estado'] = 'AC'
ac_2021['ano'] = 2021

In [ ]:
cols_to_keep = ['estado', 'ano', 'DTOBITO', 'DTNASC', 'SEXO', 'RACACOR',
                'ASSISTMED', 'ESCMAE', 'ESTCIV', 'ESC', 'OCUP', 'CODMUNRES',
                'CAUSABAS', 'CAUSABAS_O', 'LOCOCOR', 'CIRURGIA']

In [ ]:
ac_2010 = ac_2010[cols_to_keep]
ac_2011 = ac_2011[cols_to_keep]
ac_2012 = ac_2012[cols_to_keep]
ac_2013 = ac_2013[cols_to_keep]
ac_2014 = ac_2014[cols_to_keep]

,estado,ano,DTOBITO,DTNASC,SEXO,RACACOR,ASSISTMED,ESCMAE,ESTCIV,ESC,OCUP,CODMUNRES,CAUSABAS,CAUSABAS_O,LOCOCOR,CIRURGIA
0,AC,2010,06082010,09041945,2,,,,1,1,,120040,R98,R98,3,
1,AC,2010,06082010,20011912,1,,,,1,2,,120040,I219,R98,3,
2,AC,2010,02102010,17032010,2,4,,,,,,120040,R98,R98,3,
3,AC,2010,07042010,07042010,2,1,,1,,,,120042,P969,O689,4,2
4,AC,2010,13052010,04081971,1,1,,,1,3,,120020,X999,X999,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3004,AC,2010,28092010,20041958,2,4,,,,0,,120040,I619,I619,1,
3005,AC,2010,14102010,24031928,1,1,,,2,0,,120040,I219,I219,1,
3006,AC,2010,21112010,11121955,2,1,,,,0,,120040,C349,C349,1,
3007,AC,2010,10112010,07071955,1,1,,,,,,120000,C787,C787,1,
3008,AC,2010,10102010,07051976,2,4,,,3,9,,120040,I609,I609,1,9

In [ ]:
ac_2010 = ac_2010[cols_to_keep]
ac_2011 = ac_2011[cols_to_keep]
ac_2012 = ac_2012[cols_to_keep]
ac_2013 = ac_2013[cols_to_keep]
ac_2014 = ac_2014[cols_to_keep]
ac_2015 = ac_2015[cols_to_keep]
ac_2016 = ac_2016[cols_to_keep]
ac_2017 = ac_2017[cols_to_keep]
ac_2018 = ac_2018[cols_to_keep]
ac_2019 = ac_2019[cols_to_keep]
ac_2020 = ac_2020[cols_to_keep]
ac_2021 = ac_2021[cols_to_keep]

In [ ]:
ac_all = pd.concat([ac_2010, ac_2011, ac_2012, ac_2013, ac_2014, ac_2015, ac_2016, ac_2017, ac_2018, ac_2019, ac_2020, ac_2021])

In [ ]:
ac_all.to_csv('ac_all.csv')

In [ ]:
dfs = [ac_2010, ac_2011, ac_2012, ac_2013, ac_2014, ac_2015, ac_2016, ac_2017, ac_2018, ac_2019, ac_2020, ac_2021]
for i, df in enumerate(dfs):
    filename = f"ac_{i+2010}.csv"
    df.to_csv(filename, index=False)
    print(f"{filename} salvo com sucesso!")

ac_2010.csv salvo com sucesso!
ac_2011.csv salvo com sucesso!
ac_2012.csv salvo com sucesso!
ac_2013.csv salvo com sucesso!
ac_2014.csv salvo com sucesso!
ac_2015.csv salvo com sucesso!
ac_2016.csv salvo com sucesso!
ac_2017.csv salvo com sucesso!
ac_2018.csv salvo com sucesso!
ac_2019.csv salvo com sucesso!
ac_2020.csv salvo com sucesso!
ac_2021.csv salvo com sucesso!

# ALAGOAS

In [ ]:
AL_2010 = parquets_to_dataframe(download('AL', 2010))
AL_2011 = parquets_to_dataframe(download('AL', 2011))
AL_2012 = parquets_to_dataframe(download('AL', 2012))
AL_2013 = parquets_to_dataframe(download('AL', 2013))
AL_2014 = parquets_to_dataframe(download('AL', 2014))
AL_2015 = parquets_to_dataframe(download('AL', 2015))
AL_2016 = parquets_to_dataframe(download('AL', 2016))
AL_2017 = parquets_to_dataframe(download('AL', 2017))
AL_2018 = parquets_to_dataframe(download('AL', 2018))
AL_2019 = parquets_to_dataframe(download('AL', 2019))
AL_2020 = parquets_to_dataframe(download('AL', 2020))
AL_2021 = parquets_to_dataframe(download('AL', 2021))

In [ ]:
AL_2010['estado'] = 'AL'
AL_2010['ano'] = 2010

AL_2011['estado'] = 'AL'
AL_2011['ano'] = 2011

AL_2012['estado'] = 'AL'
AL_2012['ano'] = 2012

AL_2013['estado'] = 'AL'
AL_2013['ano'] = 2013

AL_2014['estado'] = 'AL'
AL_2014['ano'] = 2014

AL_2015['estado'] = 'AL'
AL_2015['ano'] = 2015

AL_2016['estado'] = 'AL'
AL_2016['ano'] = 2016

AL_2017['estado'] = 'AL'
AL_2017['ano'] = 2017

AL_2018['estado'] = 'AL'
AL_2018['ano'] = 2018

AL_2019['estado'] = 'AL'
AL_2019['ano'] = 2019

AL_2020['estado'] = 'AL'
AL_2020['ano'] = 2020

AL_2021['estado'] = 'AL'
AL_2021['ano'] = 2021

In [ ]:
AL_2010 = AL_2010[cols_to_keep]
AL_2011 = AL_2011[cols_to_keep]
AL_2012 = AL_2012[cols_to_keep]
AL_2013 = AL_2013[cols_to_keep]
AL_2014 = AL_2014[cols_to_keep]
AL_2015 = AL_2015[cols_to_keep]
AL_2016 = AL_2016[cols_to_keep]
AL_2017 = AL_2017[cols_to_keep]
AL_2018 = AL_2018[cols_to_keep]
AL_2019 = AL_2019[cols_to_keep]
AL_2020 = AL_2020[cols_to_keep]
AL_2021 = AL_2021[cols_to_keep]

In [ ]:
AL_all = pd.concat([AL_2010, AL_2011, AL_2012, AL_2013, AL_2014, AL_2015, AL_2016, AL_2017, AL_2018, AL_2019, AL_2020, AL_2021])

In [ ]:
AL_all.to_csv('AL_all.csv')

# AMAPA

In [ ]:
AP_2010 = parquets_to_dataframe(download('AP', 2010))
AP_2011 = parquets_to_dataframe(download('AP', 2011))
AP_2012 = parquets_to_dataframe(download('AP', 2012))
AP_2013 = parquets_to_dataframe(download('AP', 2013))
AP_2014 = parquets_to_dataframe(download('AP', 2014))
AP_2015 = parquets_to_dataframe(download('AP', 2015))
AP_2016 = parquets_to_dataframe(download('AP', 2016))
AP_2017 = parquets_to_dataframe(download('AP', 2017))
AP_2018 = parquets_to_dataframe(download('AP', 2018))
AP_2019 = parquets_to_dataframe(download('AP', 2019))
AP_2020 = parquets_to_dataframe(download('AP', 2020))
AP_2021 = parquets_to_dataframe(download('AP', 2021))

In [ ]:
AP_2010['estado'] = 'AP'
AP_2010['ano'] = 2010

AP_2011['estado'] = 'AP'
AP_2011['ano'] = 2011

AP_2012['estado'] = 'AP'
AP_2012['ano'] = 2012

AP_2013['estado'] = 'AP'
AP_2013['ano'] = 2013

AP_2014['estado'] = 'AP'
AP_2014['ano'] = 2014

AP_2015['estado'] = 'AP'
AP_2015['ano'] = 2015

AP_2016['estado'] = 'AP'
AP_2016['ano'] = 2016

AP_2017['estado'] = 'AP'
AP_2017['ano'] = 2017

AP_2018['estado'] = 'AP'
AP_2018['ano'] = 2018

AP_2019['estado'] = 'AP'
AP_2019['ano'] = 2019

AP_2020['estado'] = 'AP'
AP_2020['ano'] = 2020

AP_2021['estado'] = 'AP'
AP_2021['ano'] = 2021

In [ ]:
AP_2010 = AP_2010[cols_to_keep]
AP_2011 = AP_2011[cols_to_keep]
AP_2012 = AP_2012[cols_to_keep]
AP_2013 = AP_2013[cols_to_keep]
AP_2014 = AP_2014[cols_to_keep]
AP_2015 = AP_2015[cols_to_keep]
AP_2016 = AP_2016[cols_to_keep]
AP_2017 = AP_2017[cols_to_keep]
AP_2018 = AP_2018[cols_to_keep]
AP_2019 = AP_2019[cols_to_keep]
AP_2020 = AP_2020[cols_to_keep]
AP_2021 = AP_2021[cols_to_keep]

In [ ]:
AP_all = pd.concat([AP_2010, AP_2011, AP_2012, AP_2013, AP_2014, AP_2015, AP_2016, AP_2017, AP_2018, AP_2019, AP_2020, AP_2021])

In [ ]:
AP_all.to_csv('AP_all.csv')

# AMAZONAS

In [ ]:
AM_2010 = parquets_to_dataframe(download('AM', 2010))
AM_2011 = parquets_to_dataframe(download('AM', 2011))
AM_2012 = parquets_to_dataframe(download('AM', 2012))
AM_2013 = parquets_to_dataframe(download('AM', 2013))
AM_2014 = parquets_to_dataframe(download('AM', 2014))
AM_2015 = parquets_to_dataframe(download('AM', 2015))
AM_2016 = parquets_to_dataframe(download('AM', 2016))
AM_2017 = parquets_to_dataframe(download('AM', 2017))
AM_2018 = parquets_to_dataframe(download('AM', 2018))
AM_2019 = parquets_to_dataframe(download('AM', 2019))
AM_2020 = parquets_to_dataframe(download('AM', 2020))
AM_2021 = parquets_to_dataframe(download('AM', 2021))

In [ ]:
AM_2010['estado'] = 'AM'
AM_2010['ano'] = 2010

AM_2011['estado'] = 'AM'
AM_2011['ano'] = 2011

AM_2012['estado'] = 'AM'
AM_2012['ano'] = 2012

AM_2013['estado'] = 'AM'
AM_2013['ano'] = 2013

AM_2014['estado'] = 'AM'
AM_2014['ano'] = 2014

AM_2015['estado'] = 'AM'
AM_2015['ano'] = 2015

AM_2016['estado'] = 'AM'
AM_2016['ano'] = 2016

AM_2017['estado'] = 'AM'
AM_2017['ano'] = 2017

AM_2018['estado'] = 'AM'
AM_2018['ano'] = 2018

AM_2019['estado'] = 'AM'
AM_2019['ano'] = 2019

AM_2020['estado'] = 'AM'
AM_2020['ano'] = 2020

AM_2021['estado'] = 'AM'
AM_2021['ano'] = 2021

In [ ]:
AM_2010 = AM_2010[cols_to_keep]
AM_2011 = AM_2011[cols_to_keep]
AM_2012 = AM_2012[cols_to_keep]
AM_2013 = AM_2013[cols_to_keep]
AM_2014 = AM_2014[cols_to_keep]
AM_2015 = AM_2015[cols_to_keep]
AM_2016 = AM_2016[cols_to_keep]
AM_2017 = AM_2017[cols_to_keep]
AM_2018 = AM_2018[cols_to_keep]
AM_2019 = AM_2019[cols_to_keep]
AM_2020 = AM_2020[cols_to_keep]
AM_2021 = AM_2021[cols_to_keep]

In [ ]:
AM_All = pd.concat([AM_2010, AM_2011, AM_2012, AM_2013, AM_2014, AM_2015, AM_2016, AM_2017, AM_2018, AM_2019, AM_2020, AM_2021])

In [ ]:
AM_All.to_csv('AM_All.csv')

# Bahia

In [ ]:
BA_2010 = parquets_to_dataframe(download('BA', 2010))
BA_2011 = parquets_to_dataframe(download('BA', 2011))
BA_2012 = parquets_to_dataframe(download('BA', 2012))
BA_2013 = parquets_to_dataframe(download('BA', 2013))
BA_2014 = parquets_to_dataframe(download('BA', 2014))
BA_2015 = parquets_to_dataframe(download('BA', 2015))
BA_2016 = parquets_to_dataframe(download('BA', 2016))
BA_2017 = parquets_to_dataframe(download('BA', 2017))
BA_2018 = parquets_to_dataframe(download('BA', 2018))
BA_2019 = parquets_to_dataframe(download('BA', 2019))
BA_2020 = parquets_to_dataframe(download('BA', 2020))
BA_2021 = parquets_to_dataframe(download('BA', 2021))

In [ ]:
BA_2010['estado'] = 'BA'
BA_2010['ano'] = 2010

BA_2011['estado'] = 'BA'
BA_2011['ano'] = 2011

BA_2012['estado'] = 'BA'
BA_2012['ano'] = 2012

BA_2013['estado'] = 'BA'
BA_2013['ano'] = 2013

BA_2014['estado'] = 'BA'
BA_2014['ano'] = 2014

BA_2015['estado'] = 'BA'
BA_2015['ano'] = 2015

BA_2016['estado'] = 'BA'
BA_2016['ano'] = 2016

BA_2017['estado'] = 'BA'
BA_2017['ano'] = 2017

BA_2018['estado'] = 'BA'
BA_2018['ano'] = 2018

BA_2019['estado'] = 'BA'
BA_2019['ano'] = 2019

BA_2020['estado'] = 'BA'
BA_2020['ano'] = 2020

BA_2021['estado'] = 'BA'
BA_2021['ano'] = 2021

In [ ]:
BA_2010 = BA_2010[cols_to_keep]
BA_2011 = BA_2011[cols_to_keep]
BA_2012 = BA_2012[cols_to_keep]
BA_2013 = BA_2013[cols_to_keep]
BA_2014 = BA_2014[cols_to_keep]
BA_2015 = BA_2015[cols_to_keep]
BA_2016 = BA_2016[cols_to_keep]
BA_2017 = BA_2017[cols_to_keep]
BA_2018 = BA_2018[cols_to_keep]
BA_2019 = BA_2019[cols_to_keep]
BA_2020 = BA_2020[cols_to_keep]
BA_2021 = BA_2021[cols_to_keep]

In [ ]:
BA_All = pd.concat([BA_2010, BA_2011, BA_2012, BA_2013, BA_2014, BA_2015, BA_2016, BA_2017, BA_2018, BA_2019, BA_2020, BA_2021])

In [ ]:
BA_All.to_csv('BA_All.csv')

# CEARA

In [ ]:
CE_2010 = parquets_to_dataframe(download('CE', 2010))
CE_2011 = parquets_to_dataframe(download('CE', 2011))
CE_2012 = parquets_to_dataframe(download('CE', 2012))
CE_2013 = parquets_to_dataframe(download('CE', 2013))
CE_2014 = parquets_to_dataframe(download('CE', 2014))
CE_2015 = parquets_to_dataframe(download('CE', 2015))
CE_2016 = parquets_to_dataframe(download('CE', 2016))
CE_2017 = parquets_to_dataframe(download('CE', 2017))
CE_2018 = parquets_to_dataframe(download('CE', 2018))
CE_2019 = parquets_to_dataframe(download('CE', 2019))
CE_2020 = parquets_to_dataframe(download('CE', 2020))
CE_2021 = parquets_to_dataframe(download('CE', 2021))

In [ ]:

CE_2010['estado'] = 'CE'
CE_2010['ano'] = 2010

CE_2011['estado'] = 'CE'
CE_2011['ano'] = 2011

CE_2012['estado'] = 'CE'
CE_2012['ano'] = 2012

CE_2013['estado'] = 'CE'
CE_2013['ano'] = 2013

CE_2014['estado'] = 'CE'
CE_2014['ano'] = 2014

CE_2015['estado'] = 'CE'
CE_2015['ano'] = 2015

CE_2016['estado'] = 'CE'
CE_2016['ano'] = 2016

CE_2017['estado'] = 'CE'
CE_2017['ano'] = 2017

CE_2018['estado'] = 'CE'
CE_2018['ano'] = 2018

CE_2019['estado'] = 'CE'
CE_2019['ano'] = 2019

CE_2020['estado'] = 'CE'
CE_2020['ano'] = 2020

CE_2021['estado'] = 'CE'
CE_2021['ano'] = 2021

In [ ]:
CE_2010 = CE_2010[cols_to_keep]
CE_2011 = CE_2011[cols_to_keep]
CE_2012 = CE_2012[cols_to_keep]
CE_2013 = CE_2013[cols_to_keep]
CE_2014 = CE_2014[cols_to_keep]
CE_2015 = CE_2015[cols_to_keep]
CE_2016 = CE_2016[cols_to_keep]
CE_2017 = CE_2017[cols_to_keep]
CE_2018 = CE_2018[cols_to_keep]
CE_2019 = CE_2019[cols_to_keep]
CE_2020 = CE_2020[cols_to_keep]
CE_2021 = CE_2021[cols_to_keep]

In [ ]:

CE_All = pd.concat([CE_2010, CE_2011, CE_2012, CE_2013, CE_2014, CE_2015, CE_2016, CE_2017, CE_2018, CE_2019, CE_2020, CE_2021])

In [ ]:
CE_All.to_csv('CE_All.csv')

# DISTRITO FEDERAL

In [ ]:
DF_2010 = parquets_to_dataframe(download('DF', 2010))
DF_2011 = parquets_to_dataframe(download('DF', 2011))
DF_2012 = parquets_to_dataframe(download('DF', 2012))
DF_2013 = parquets_to_dataframe(download('DF', 2013))
DF_2014 = parquets_to_dataframe(download('DF', 2014))
DF_2015 = parquets_to_dataframe(download('DF', 2015))
DF_2016 = parquets_to_dataframe(download('DF', 2016))
DF_2017 = parquets_to_dataframe(download('DF', 2017))
DF_2018 = parquets_to_dataframe(download('DF', 2018))
DF_2019 = parquets_to_dataframe(download('DF', 2019))
DF_2020 = parquets_to_dataframe(download('DF', 2020))
DF_2021 = parquets_to_dataframe(download('DF', 2021))

In [ ]:

DF_2010['estado'] = 'DF'
DF_2010['ano'] = 2010

DF_2011['estado'] = 'DF'
DF_2011['ano'] = 2011

DF_2012['estado'] = 'DF'
DF_2012['ano'] = 2012

DF_2013['estado'] = 'DF'
DF_2013['ano'] = 2013

DF_2014['estado'] = 'DF'
DF_2014['ano'] = 2014

DF_2015['estado'] = 'DF'
DF_2015['ano'] = 2015

DF_2016['estado'] = 'DF'
DF_2016['ano'] = 2016

DF_2017['estado'] = 'DF'
DF_2017['ano'] = 2017

DF_2018['estado'] = 'DF'
DF_2018['ano'] = 2018

DF_2019['estado'] = 'DF'
DF_2019['ano'] = 2019

DF_2020['estado'] = 'DF'
DF_2020['ano'] = 2020

DF_2021['estado'] = 'DF'
DF_2021['ano'] = 2021

In [ ]:

DF_2010 = DF_2010[cols_to_keep]
DF_2011 = DF_2011[cols_to_keep]
DF_2012 = DF_2012[cols_to_keep]
DF_2013 = DF_2013[cols_to_keep]
DF_2014 = DF_2014[cols_to_keep]
DF_2015 = DF_2015[cols_to_keep]
DF_2016 = DF_2016[cols_to_keep]
DF_2017 = DF_2017[cols_to_keep]
DF_2018 = DF_2018[cols_to_keep]
DF_2019 = DF_2019[cols_to_keep]
DF_2020 = DF_2020[cols_to_keep]
DF_2021 = DF_2021[cols_to_keep]

In [ ]:
DF_All = pd.concat([DF_2010, DF_2011, DF_2012, DF_2013, DF_2014, DF_2015, DF_2016, DF_2017, DF_2018, DF_2019, DF_2020, DF_2021])

In [ ]:

DF_All.to_csv('DF_All.csv')

# ESPIRITO SANTO

In [ ]:
ES_2010 = parquets_to_dataframe(download('ES', 2010))
ES_2011 = parquets_to_dataframe(download('ES', 2011))
ES_2012 = parquets_to_dataframe(download('ES', 2012))
ES_2013 = parquets_to_dataframe(download('ES', 2013))
ES_2014 = parquets_to_dataframe(download('ES', 2014))
ES_2015 = parquets_to_dataframe(download('ES', 2015))
ES_2016 = parquets_to_dataframe(download('ES', 2016))
ES_2017 = parquets_to_dataframe(download('ES', 2017))
ES_2018 = parquets_to_dataframe(download('ES', 2018))
ES_2019 = parquets_to_dataframe(download('ES', 2019))
ES_2020 = parquets_to_dataframe(download('ES', 2020))
ES_2021 = parquets_to_dataframe(download('ES', 2021))

In [ ]:
ES_2010['estado'] = 'ES'
ES_2010['ano'] = 2010

ES_2011['estado'] = 'ES'
ES_2011['ano'] = 2011

ES_2012['estado'] = 'ES'
ES_2012['ano'] = 2012

ES_2013['estado'] = 'ES'
ES_2013['ano'] = 2013

ES_2014['estado'] = 'ES'
ES_2014['ano'] = 2014

ES_2015['estado'] = 'ES'
ES_2015['ano'] = 2015

ES_2016['estado'] = 'ES'
ES_2016['ano'] = 2016

ES_2017['estado'] = 'ES'
ES_2017['ano'] = 2017

ES_2018['estado'] = 'ES'
ES_2018['ano'] = 2018

ES_2019['estado'] = 'ES'
ES_2019['ano'] = 2019

ES_2020['estado'] = 'ES'
ES_2020['ano'] = 2020

ES_2021['estado'] = 'ES'
ES_2021['ano'] = 2021

In [ ]:


ES_2010 = ES_2010[cols_to_keep]
ES_2011 = ES_2011[cols_to_keep]
ES_2012 = ES_2012[cols_to_keep]
ES_2013 = ES_2013[cols_to_keep]
ES_2014 = ES_2014[cols_to_keep]
ES_2015 = ES_2015[cols_to_keep]
ES_2016 = ES_2016[cols_to_keep]
ES_2017 = ES_2017[cols_to_keep]
ES_2018 = ES_2018[cols_to_keep]
ES_2019 = ES_2019[cols_to_keep]
ES_2020 = ES_2020[cols_to_keep]
ES_2021 = ES_2021[cols_to_keep]

In [ ]:

ES_All = pd.concat([ES_2010, ES_2011, ES_2012, ES_2013, ES_2014, ES_2015, ES_2016, ES_2017, ES_2018, ES_2019, ES_2020, ES_2021])

In [ ]:

ES_All.to_csv('ES_All.csv')

# GOIAS

In [ ]:
GO_2010 = parquets_to_dataframe(download('GO', 2010))
GO_2011 = parquets_to_dataframe(download('GO', 2011))
GO_2012 = parquets_to_dataframe(download('GO', 2012))
GO_2013 = parquets_to_dataframe(download('GO', 2013))
GO_2014 = parquets_to_dataframe(download('GO', 2014))
GO_2015 = parquets_to_dataframe(download('GO', 2015))
GO_2016 = parquets_to_dataframe(download('GO', 2016))
GO_2017 = parquets_to_dataframe(download('GO', 2017))
GO_2018 = parquets_to_dataframe(download('GO', 2018))
GO_2019 = parquets_to_dataframe(download('GO', 2019))
GO_2020 = parquets_to_dataframe(download('GO', 2020))
GO_2021 = parquets_to_dataframe(download('GO', 2021))

In [ ]:
GO_2010['estado'] = 'GO'
GO_2010['ano'] = 2010

GO_2011['estado'] = 'GO'
GO_2011['ano'] = 2011

GO_2012['estado'] = 'GO'
GO_2012['ano'] = 2012

GO_2013['estado'] = 'GO'
GO_2013['ano'] = 2013

GO_2014['estado'] = 'GO'
GO_2014['ano'] = 2014

GO_2015['estado'] = 'GO'
GO_2015['ano'] = 2015

GO_2016['estado'] = 'GO'
GO_2016['ano'] = 2016

GO_2017['estado'] = 'GO'
GO_2017['ano'] = 2017

GO_2018['estado'] = 'GO'
GO_2018['ano'] = 2018

GO_2019['estado'] = 'GO'
GO_2019['ano'] = 2019

GO_2020['estado'] = 'GO'
GO_2020['ano'] = 2020

GO_2021['estado'] = 'GO'
GO_2021['ano'] = 2021

In [ ]:

GO_2010 = GO_2010[cols_to_keep]
GO_2011 = GO_2011[cols_to_keep]
GO_2012 = GO_2012[cols_to_keep]
GO_2013 = GO_2013[cols_to_keep]
GO_2014 = GO_2014[cols_to_keep]
GO_2015 = GO_2015[cols_to_keep]
GO_2016 = GO_2016[cols_to_keep]
GO_2017 = GO_2017[cols_to_keep]
GO_2018 = GO_2018[cols_to_keep]
GO_2019 = GO_2019[cols_to_keep]
GO_2020 = GO_2020[cols_to_keep]
GO_2021 = GO_2021[cols_to_keep]

In [ ]:

GO_All = pd.concat([GO_2010, GO_2011, GO_2012, GO_2013, GO_2014, GO_2015, GO_2016, GO_2017, GO_2018, GO_2019, GO_2020, GO_2021])

In [ ]:
GO_All.to_csv('GO_All.csv')

# MARANHÃO

In [ ]:
MA_2010 = parquets_to_dataframe(download('MA', 2010))
MA_2011 = parquets_to_dataframe(download('MA', 2011))
MA_2012 = parquets_to_dataframe(download('MA', 2012))
MA_2013 = parquets_to_dataframe(download('MA', 2013))
MA_2014 = parquets_to_dataframe(download('MA', 2014))
MA_2015 = parquets_to_dataframe(download('MA', 2015))
MA_2016 = parquets_to_dataframe(download('MA', 2016))
MA_2017 = parquets_to_dataframe(download('MA', 2017))
MA_2018 = parquets_to_dataframe(download('MA', 2018))
MA_2019 = parquets_to_dataframe(download('MA', 2019))
MA_2020 = parquets_to_dataframe(download('MA', 2020))
MA_2021 = parquets_to_dataframe(download('MA', 2021))

In [ ]:
MA_2010['estado'] = 'MA'
MA_2010['ano'] = 2010

MA_2011['estado'] = 'MA'
MA_2011['ano'] = 2011

MA_2012['estado'] = 'MA'
MA_2012['ano'] = 2012

MA_2013['estado'] = 'MA'
MA_2013['ano'] = 2013

MA_2014['estado'] = 'MA'
MA_2014['ano'] = 2014

MA_2015['estado'] = 'MA'
MA_2015['ano'] = 2015

MA_2016['estado'] = 'MA'
MA_2016['ano'] = 2016

MA_2017['estado'] = 'MA'
MA_2017['ano'] = 2017

MA_2018['estado'] = 'MA'
MA_2018['ano'] = 2018

MA_2019['estado'] = 'MA'
MA_2019['ano'] = 2019

MA_2020['estado'] = 'MA'
MA_2020['ano'] = 2020

MA_2021['estado'] = 'MA'
MA_2021['ano'] = 2021

In [ ]:

MA_2010 = MA_2010[cols_to_keep]
MA_2011 = MA_2011[cols_to_keep]
MA_2012 = MA_2012[cols_to_keep]
MA_2013 = MA_2013[cols_to_keep]
MA_2014 = MA_2014[cols_to_keep]
MA_2015 = MA_2015[cols_to_keep]
MA_2016 = MA_2016[cols_to_keep]
MA_2017 = MA_2017[cols_to_keep]
MA_2018 = MA_2018[cols_to_keep]
MA_2019 = MA_2019[cols_to_keep]
MA_2020 = MA_2020[cols_to_keep]
MA_2021 = MA_2021[cols_to_keep]

In [ ]:

MA_All = pd.concat([MA_2010, MA_2011, MA_2012, MA_2013, MA_2014, MA_2015, MA_2016, MA_2017, MA_2018, MA_2019, MA_2020, MA_2021])

In [ ]:
MA_All.to_csv('MA_All.csv')

# MATO GROSSO

In [ ]:
MT_2010 = parquets_to_dataframe(download('MT', 2010))
MT_2011 = parquets_to_dataframe(download('MT', 2011))
MT_2012 = parquets_to_dataframe(download('MT', 2012))
MT_2013 = parquets_to_dataframe(download('MT', 2013))
MT_2014 = parquets_to_dataframe(download('MT', 2014))
MT_2015 = parquets_to_dataframe(download('MT', 2015))
MT_2016 = parquets_to_dataframe(download('MT', 2016))
MT_2017 = parquets_to_dataframe(download('MT', 2017))
MT_2018 = parquets_to_dataframe(download('MT', 2018))
MT_2019 = parquets_to_dataframe(download('MT', 2019))
MT_2020 = parquets_to_dataframe(download('MT', 2020))
MT_2021 = parquets_to_dataframe(download('MT', 2021))

In [ ]:
MT_2010['estado'] = 'MT'
MT_2010['ano'] = 2010

MT_2011['estado'] = 'MT'
MT_2011['ano'] = 2011

MT_2012['estado'] = 'MT'
MT_2012['ano'] = 2012

MT_2013['estado'] = 'MT'
MT_2013['ano'] = 2013

MT_2014['estado'] = 'MT'
MT_2014['ano'] = 2014

MT_2015['estado'] = 'MT'
MT_2015['ano'] = 2015

MT_2016['estado'] = 'MT'
MT_2016['ano'] = 2016

MT_2017['estado'] = 'MT'
MT_2017['ano'] = 2017

MT_2018['estado'] = 'MT'
MT_2018['ano'] = 2018

MT_2019['estado'] = 'MT'
MT_2019['ano'] = 2019

MT_2020['estado'] = 'MT'
MT_2020['ano'] = 2020

MT_2021['estado'] = 'MT'
MT_2021['ano'] = 2021

In [ ]:
MT_2010 = MT_2010[cols_to_keep]
MT_2011 = MT_2011[cols_to_keep]
MT_2012 = MT_2012[cols_to_keep]
MT_2013 = MT_2013[cols_to_keep]
MT_2014 = MT_2014[cols_to_keep]
MT_2015 = MT_2015[cols_to_keep]
MT_2016 = MT_2016[cols_to_keep]
MT_2017 = MT_2017[cols_to_keep]
MT_2018 = MT_2018[cols_to_keep]
MT_2019 = MT_2019[cols_to_keep]
MT_2020 = MT_2020[cols_to_keep]
MT_2021 = MT_2021[cols_to_keep]

In [ ]:
MT_All = pd.concat([MT_2010, MT_2011, MT_2012, MT_2013, MT_2014, MT_2015, MT_2016, MT_2017, MT_2018, MT_2019, MT_2020, MT_2021])

In [ ]:
MT_All.to_csv('MT_All.csv')

#MATO GROSSO DO SUL

In [ ]:
MS_2010 = parquets_to_dataframe(download('MS', 2010))
MS_2011 = parquets_to_dataframe(download('MS', 2011))
MS_2012 = parquets_to_dataframe(download('MS', 2012))
MS_2013 = parquets_to_dataframe(download('MS', 2013))
MS_2014 = parquets_to_dataframe(download('MS', 2014))
MS_2015 = parquets_to_dataframe(download('MS', 2015))
MS_2016 = parquets_to_dataframe(download('MS', 2016))
MS_2017 = parquets_to_dataframe(download('MS', 2017))
MS_2018 = parquets_to_dataframe(download('MS', 2018))
MS_2019 = parquets_to_dataframe(download('MS', 2019))
MS_2020 = parquets_to_dataframe(download('MS', 2020))
MS_2021 = parquets_to_dataframe(download('MS', 2021))

In [ ]:
MS_2010['estado'] = 'MS'
MS_2010['ano'] = 2010

MS_2011['estado'] = 'MS'
MS_2011['ano'] = 2011

MS_2012['estado'] = 'MS'
MS_2012['ano'] = 2012

MS_2013['estado'] = 'MS'
MS_2013['ano'] = 2013

MS_2014['estado'] = 'MS'
MS_2014['ano'] = 2014

MS_2015['estado'] = 'MS'
MS_2015['ano'] = 2015

MS_2016['estado'] = 'MS'
MS_2016['ano'] = 2016

MS_2017['estado'] = 'MS'
MS_2017['ano'] = 2017

MS_2018['estado'] = 'MS'
MS_2018['ano'] = 2018

MS_2019['estado'] = 'MS'
MS_2019['ano'] = 2019

MS_2020['estado'] = 'MS'
MS_2020['ano'] = 2020

MS_2021['estado'] = 'MS'
MS_2021['ano'] = 2021

In [ ]:


MS_2010 = MS_2010[cols_to_keep]
MS_2011 = MS_2011[cols_to_keep]
MS_2012 = MS_2012[cols_to_keep]
MS_2013 = MS_2013[cols_to_keep]
MS_2014 = MS_2014[cols_to_keep]
MS_2015 = MS_2015[cols_to_keep]
MS_2016 = MS_2016[cols_to_keep]
MS_2017 = MS_2017[cols_to_keep]
MS_2018 = MS_2018[cols_to_keep]
MS_2019 = MS_2019[cols_to_keep]
MS_2020 = MS_2020[cols_to_keep]
MS_2021 = MS_2021[cols_to_keep]

In [ ]:

MS_All = pd.concat([MS_2010, MS_2011, MS_2012, MS_2013, MS_2014, MS_2015, MS_2016, MS_2017, MS_2018, MS_2019, MS_2020, MS_2021])

In [ ]:
MS_All.to_csv('MS_All.csv')

# MINAS GERAIS

In [ ]:
MG_2010 = parquets_to_dataframe(download('MG', 2010))
MG_2011 = parquets_to_dataframe(download('MG', 2011))
MG_2012 = parquets_to_dataframe(download('MG', 2012))
MG_2013 = parquets_to_dataframe(download('MG', 2013))
MG_2014 = parquets_to_dataframe(download('MG', 2014))
MG_2015 = parquets_to_dataframe(download('MG', 2015))
MG_2016 = parquets_to_dataframe(download('MG', 2016))
MG_2017 = parquets_to_dataframe(download('MG', 2017))
MG_2018 = parquets_to_dataframe(download('MG', 2018))
MG_2019 = parquets_to_dataframe(download('MG', 2019))
MG_2020 = parquets_to_dataframe(download('MG', 2020))
MG_2021 = parquets_to_dataframe(download('MG', 2021))

In [ ]:
MG_2010['estado'] = 'MG'
MG_2010['ano'] = 2010

MG_2011['estado'] = 'MG'
MG_2011['ano'] = 2011

MG_2012['estado'] = 'MG'
MG_2012['ano'] = 2012

MG_2013['estado'] = 'MG'
MG_2013['ano'] = 2013

MG_2014['estado'] = 'MG'
MG_2014['ano'] = 2014

MG_2015['estado'] = 'MG'
MG_2015['ano'] = 2015

MG_2016['estado'] = 'MG'
MG_2016['ano'] = 2016

MG_2017['estado'] = 'MG'
MG_2017['ano'] = 2017

MG_2018['estado'] = 'MG'
MG_2018['ano'] = 2018

MG_2019['estado'] = 'MG'
MG_2019['ano'] = 2019

MG_2020['estado'] = 'MG'
MG_2020['ano'] = 2020

MG_2021['estado'] = 'MG'
MG_2021['ano'] = 2021

In [ ]:

MG_2010 = MG_2010[cols_to_keep]
MG_2011 = MG_2011[cols_to_keep]
MG_2012 = MG_2012[cols_to_keep]
MG_2013 = MG_2013[cols_to_keep]
MG_2014 = MG_2014[cols_to_keep]
MG_2015 = MG_2015[cols_to_keep]
MG_2016 = MG_2016[cols_to_keep]
MG_2017 = MG_2017[cols_to_keep]
MG_2018 = MG_2018[cols_to_keep]
MG_2019 = MG_2019[cols_to_keep]
MG_2020 = MG_2020[cols_to_keep]
MG_2021 = MG_2021[cols_to_keep]

In [ ]:
MG_All = pd.concat([MG_2010, MG_2011, MG_2012, MG_2013, MG_2014, MG_2015, MG_2016, MG_2017, MG_2018, MG_2019, MG_2020, MG_2021])

In [ ]:
MG_All.to_csv('MG_All.csv')

# PARA

In [ ]:
PA_2010 = parquets_to_dataframe(download('PA', 2010))
PA_2011 = parquets_to_dataframe(download('PA', 2011))
PA_2012 = parquets_to_dataframe(download('PA', 2012))
PA_2013 = parquets_to_dataframe(download('PA', 2013))
PA_2014 = parquets_to_dataframe(download('PA', 2014))
PA_2015 = parquets_to_dataframe(download('PA', 2015))
PA_2016 = parquets_to_dataframe(download('PA', 2016))
PA_2017 = parquets_to_dataframe(download('PA', 2017))
PA_2018 = parquets_to_dataframe(download('PA', 2018))
PA_2019 = parquets_to_dataframe(download('PA', 2019))
PA_2020 = parquets_to_dataframe(download('PA', 2020))
PA_2021 = parquets_to_dataframe(download('PA', 2021))

ERROR:root:No objects to concatenate

In [ ]:
PA_2019 = parquets_to_dataframe(download('PA', 2019))

In [ ]:
PA_2010['estado'] = 'PA'
PA_2010['ano'] = 2010

PA_2011['estado'] = 'PA'
PA_2011['ano'] = 2011

PA_2012['estado'] = 'PA'
PA_2012['ano'] = 2012

PA_2013['estado'] = 'PA'
PA_2013['ano'] = 2013

PA_2014['estado'] = 'PA'
PA_2014['ano'] = 2014

PA_2015['estado'] = 'PA'
PA_2015['ano'] = 2015

PA_2016['estado'] = 'PA'
PA_2016['ano'] = 2016

PA_2017['estado'] = 'PA'
PA_2017['ano'] = 2017

#PA_2018['estado'] = 'PA'
#PA_2018['ano'] = 2018

PA_2019['estado'] = 'PA'
PA_2019['ano'] = 2019

PA_2020['estado'] = 'PA'
PA_2020['ano'] = 2020

PA_2021['estado'] = 'PA'
PA_2021['ano'] = 2021

In [ ]:
PA_2010 = PA_2010[cols_to_keep]
PA_2011 = PA_2011[cols_to_keep]
PA_2012 = PA_2012[cols_to_keep]
PA_2013 = PA_2013[cols_to_keep]
PA_2014 = PA_2014[cols_to_keep]
PA_2015 = PA_2015[cols_to_keep]
PA_2016 = PA_2016[cols_to_keep]
PA_2017 = PA_2017[cols_to_keep]
#PA_2018 = PA_2018[cols_to_keep]
PA_2019 = PA_2019[cols_to_keep]
PA_2020 = PA_2020[cols_to_keep]
PA_2021 = PA_2021[cols_to_keep]

In [ ]:
PA_All = pd.concat([PA_2010, PA_2011, PA_2012, PA_2013, PA_2014, PA_2015, PA_2016, PA_2017, PA_2019, PA_2020, PA_2021])

# PA_2018,

In [ ]:
PA_All.to_csv('PA_All.csv')

In [ ]:
#DADOS DE 2018 NÃO ENCONTRADOS

# PARAIBA

In [ ]:
PB_2010 = parquets_to_dataframe(download('PB', 2010))
PB_2011 = parquets_to_dataframe(download('PB', 2011))
PB_2012 = parquets_to_dataframe(download('PB', 2012))
PB_2013 = parquets_to_dataframe(download('PB', 2013))
PB_2014 = parquets_to_dataframe(download('PB', 2014))
PB_2015 = parquets_to_dataframe(download('PB', 2015))
PB_2016 = parquets_to_dataframe(download('PB', 2016))
PB_2017 = parquets_to_dataframe(download('PB', 2017))
PB_2018 = parquets_to_dataframe(download('PB', 2018))
PB_2019 = parquets_to_dataframe(download('PB', 2019))
PB_2020 = parquets_to_dataframe(download('PB', 2020))
PB_2021 = parquets_to_dataframe(download('PB', 2021))

In [ ]:
PB_2010['estado'] = 'PB'
PB_2010['ano'] = 2010

PB_2011['estado'] = 'PB'
PB_2011['ano'] = 2011

PB_2012['estado'] = 'PB'
PB_2012['ano'] = 2012

PB_2013['estado'] = 'PB'
PB_2013['ano'] = 2013

PB_2014['estado'] = 'PB'
PB_2014['ano'] = 2014

PB_2015['estado'] = 'PB'
PB_2015['ano'] = 2015

PB_2016['estado'] = 'PB'
PB_2016['ano'] = 2016

PB_2017['estado'] = 'PB'
PB_2017['ano'] = 2017

PB_2018['estado'] = 'PB'
PB_2018['ano'] = 2018

PB_2019['estado'] = 'PB'
PB_2019['ano'] = 2019

PB_2020['estado'] = 'PB'
PB_2020['ano'] = 2020

PB_2021['estado'] = 'PB'
PB_2021['ano'] = 2021

In [ ]:

PB_2010 = PB_2010[cols_to_keep]
PB_2011 = PB_2011[cols_to_keep]
PB_2012 = PB_2012[cols_to_keep]
PB_2013 = PB_2013[cols_to_keep]
PB_2014 = PB_2014[cols_to_keep]
PB_2015 = PB_2015[cols_to_keep]
PB_2016 = PB_2016[cols_to_keep]
PB_2017 = PB_2017[cols_to_keep]
PB_2018 = PB_2018[cols_to_keep]
PB_2019 = PB_2019[cols_to_keep]
PB_2020 = PB_2020[cols_to_keep]
PB_2021 = PB_2021[cols_to_keep]

In [ ]:

PB_All = pd.concat([PB_2010, PB_2011, PB_2012, PB_2013, PB_2014, PB_2015, PB_2016, PB_2017, PB_2018, PB_2019, PB_2020, PB_2021])

In [ ]:
PB_All.to_csv('PB_All.csv')

# PARANA

In [ ]:
PR_2010 = parquets_to_dataframe(download('PR', 2010))
PR_2011 = parquets_to_dataframe(download('PR', 2011))
PR_2012 = parquets_to_dataframe(download('PR', 2012))
PR_2013 = parquets_to_dataframe(download('PR', 2013))
PR_2014 = parquets_to_dataframe(download('PR', 2014))
PR_2015 = parquets_to_dataframe(download('PR', 2015))
PR_2016 = parquets_to_dataframe(download('PR', 2016))
PR_2017 = parquets_to_dataframe(download('PR', 2017))
PR_2018 = parquets_to_dataframe(download('PR', 2018))
PR_2019 = parquets_to_dataframe(download('PR', 2019))
PR_2020 = parquets_to_dataframe(download('PR', 2020))
PR_2021 = parquets_to_dataframe(download('PR', 2021))

In [ ]:
PR_2010['estado'] = 'PR'
PR_2010['ano'] = 2010

PR_2011['estado'] = 'PR'
PR_2011['ano'] = 2011

PR_2012['estado'] = 'PR'
PR_2012['ano'] = 2012

PR_2013['estado'] = 'PR'
PR_2013['ano'] = 2013

PR_2014['estado'] = 'PR'
PR_2014['ano'] = 2014

PR_2015['estado'] = 'PR'
PR_2015['ano'] = 2015

PR_2016['estado'] = 'PR'
PR_2016['ano'] = 2016

PR_2017['estado'] = 'PR'
PR_2017['ano'] = 2017

PR_2018['estado'] = 'PR'
PR_2018['ano'] = 2018

PR_2019['estado'] = 'PR'
PR_2019['ano'] = 2019

PR_2020['estado'] = 'PR'
PR_2020['ano'] = 2020

PR_2021['estado'] = 'PR'
PR_2021['ano'] = 2021

In [ ]:

PR_2010 = PR_2010[cols_to_keep]
PR_2011 = PR_2011[cols_to_keep]
PR_2012 = PR_2012[cols_to_keep]
PR_2013 = PR_2013[cols_to_keep]
PR_2014 = PR_2014[cols_to_keep]
PR_2015 = PR_2015[cols_to_keep]
PR_2016 = PR_2016[cols_to_keep]
PR_2017 = PR_2017[cols_to_keep]
PR_2018 = PR_2018[cols_to_keep]
PR_2019 = PR_2019[cols_to_keep]
PR_2020 = PR_2020[cols_to_keep]
PR_2021 = PR_2021[cols_to_keep]

In [ ]:
PR_All = pd.concat([PR_2010, PR_2011, PR_2012, PR_2013, PR_2014, PR_2015, PR_2016, PR_2017, PR_2018, PR_2019, PR_2020, PR_2021])

In [ ]:
PR_All.to_csv('PR_All.csv')

# PERNAMBUCO

In [ ]:
PE_2010 = parquets_to_dataframe(download('PE', 2010))
PE_2011 = parquets_to_dataframe(download('PE', 2011))
PE_2012 = parquets_to_dataframe(download('PE', 2012))
PE_2013 = parquets_to_dataframe(download('PE', 2013))
PE_2014 = parquets_to_dataframe(download('PE', 2014))
PE_2015 = parquets_to_dataframe(download('PE', 2015))
PE_2016 = parquets_to_dataframe(download('PE', 2016))
PE_2017 = parquets_to_dataframe(download('PE', 2017))
PE_2018 = parquets_to_dataframe(download('PE', 2018))
PE_2019 = parquets_to_dataframe(download('PE', 2019))
PE_2020 = parquets_to_dataframe(download('PE', 2020))
PE_2021 = parquets_to_dataframe(download('PE', 2021))

In [ ]:
PE_2010['estado'] = 'PE'
PE_2010['ano'] = 2010

PE_2011['estado'] = 'PE'
PE_2011['ano'] = 2011

PE_2012['estado'] = 'PE'
PE_2012['ano'] = 2012

PE_2013['estado'] = 'PE'
PE_2013['ano'] = 2013

PE_2014['estado'] = 'PE'
PE_2014['ano'] = 2014

PE_2015['estado'] = 'PE'
PE_2015['ano'] = 2015

PE_2016['estado'] = 'PE'
PE_2016['ano'] = 2016

PE_2017['estado'] = 'PE'
PE_2017['ano'] = 2017

PE_2018['estado'] = 'PE'
PE_2018['ano'] = 2018

PE_2019['estado'] = 'PE'
PE_2019['ano'] = 2019

PE_2020['estado'] = 'PE'
PE_2020['ano'] = 2020

PE_2021['estado'] = 'PE'
PE_2021['ano'] = 2021

In [ ]:
PE_2010 = PE_2010[cols_to_keep]
PE_2011 = PE_2011[cols_to_keep]
PE_2012 = PE_2012[cols_to_keep]
PE_2013 = PE_2013[cols_to_keep]
PE_2014 = PE_2014[cols_to_keep]
PE_2015 = PE_2015[cols_to_keep]
PE_2016 = PE_2016[cols_to_keep]
PE_2017 = PE_2017[cols_to_keep]
PE_2018 = PE_2018[cols_to_keep]
PE_2019 = PE_2019[cols_to_keep]
PE_2020 = PE_2020[cols_to_keep]
PE_2021 = PE_2021[cols_to_keep]

In [ ]:

PE_All = pd.concat([PE_2010, PE_2011, PE_2012, PE_2013, PE_2014, PE_2015, PE_2016, PE_2017, PE_2018, PE_2019, PE_2020, PE_2021])

In [ ]:
PE_All.to_csv('PE_All.csv')

# PIAU

In [ ]:
PI_2010 = parquets_to_dataframe(download('PI', 2010))
PI_2011 = parquets_to_dataframe(download('PI', 2011))
PI_2012 = parquets_to_dataframe(download('PI', 2012))
PI_2013 = parquets_to_dataframe(download('PI', 2013))
PI_2014 = parquets_to_dataframe(download('PI', 2014))
PI_2015 = parquets_to_dataframe(download('PI', 2015))
PI_2016 = parquets_to_dataframe(download('PI', 2016))
PI_2017 = parquets_to_dataframe(download('PI', 2017))
PI_2018 = parquets_to_dataframe(download('PI', 2018))
PI_2019 = parquets_to_dataframe(download('PI', 2019))
PI_2020 = parquets_to_dataframe(download('PI', 2020))
PI_2021 = parquets_to_dataframe(download('PI', 2021))

In [ ]:
PI_2010['estado'] = 'PI'
PI_2010['ano'] = 2010

PI_2011['estado'] = 'PI'
PI_2011['ano'] = 2011

PI_2012['estado'] = 'PI'
PI_2012['ano'] = 2012

PI_2013['estado'] = 'PI'
PI_2013['ano'] = 2013

PI_2014['estado'] = 'PI'
PI_2014['ano'] = 2014

PI_2015['estado'] = 'PI'
PI_2015['ano'] = 2015

PI_2016['estado'] = 'PI'
PI_2016['ano'] = 2016

PI_2017['estado'] = 'PI'
PI_2017['ano'] = 2017

PI_2018['estado'] = 'PI'
PI_2018['ano'] = 2018

PI_2019['estado'] = 'PI'
PI_2019['ano'] = 2019

PI_2020['estado'] = 'PI'
PI_2020['ano'] = 2020

PI_2021['estado'] = 'PI'
PI_2021['ano'] = 2021

In [ ]:

PI_2010 = PI_2010[cols_to_keep]
PI_2011 = PI_2011[cols_to_keep]
PI_2012 = PI_2012[cols_to_keep]
PI_2013 = PI_2013[cols_to_keep]
PI_2014 = PI_2014[cols_to_keep]
PI_2015 = PI_2015[cols_to_keep]
PI_2016 = PI_2016[cols_to_keep]
PI_2017 = PI_2017[cols_to_keep]
PI_2018 = PI_2018[cols_to_keep]
PI_2019 = PI_2019[cols_to_keep]
PI_2020 = PI_2020[cols_to_keep]
PI_2021 = PI_2021[cols_to_keep]

In [ ]:

PI_All = pd.concat([PI_2010, PI_2011, PI_2012, PI_2013, PI_2014, PI_2015, PI_2016, PI_2017, PI_2018, PI_2019, PI_2020, PI_2021])

In [ ]:
PI_All.to_csv('PI_All.csv')

# RIO DE JANEIRO

In [ ]:
RJ_2010 = parquets_to_dataframe(download('RJ', 2010))
RJ_2011 = parquets_to_dataframe(download('RJ', 2011))
RJ_2012 = parquets_to_dataframe(download('RJ', 2012))
RJ_2013 = parquets_to_dataframe(download('RJ', 2013))
RJ_2014 = parquets_to_dataframe(download('RJ', 2014))
RJ_2015 = parquets_to_dataframe(download('RJ', 2015))
RJ_2016 = parquets_to_dataframe(download('RJ', 2016))
RJ_2017 = parquets_to_dataframe(download('RJ', 2017))
RJ_2018 = parquets_to_dataframe(download('RJ', 2018))
RJ_2019 = parquets_to_dataframe(download('RJ', 2019))
RJ_2020 = parquets_to_dataframe(download('RJ', 2020))
RJ_2021 = parquets_to_dataframe(download('RJ', 2021))

In [ ]:
RJ_2010['estado'] = 'RJ'
RJ_2010['ano'] = 2010

RJ_2011['estado'] = 'RJ'
RJ_2011['ano'] = 2011

RJ_2012['estado'] = 'RJ'
RJ_2012['ano'] = 2012

RJ_2013['estado'] = 'RJ'
RJ_2013['ano'] = 2013

RJ_2014['estado'] = 'RJ'
RJ_2014['ano'] = 2014

RJ_2015['estado'] = 'RJ'
RJ_2015['ano'] = 2015

RJ_2016['estado'] = 'RJ'
RJ_2016['ano'] = 2016

RJ_2017['estado'] = 'RJ'
RJ_2017['ano'] = 2017

RJ_2018['estado'] = 'RJ'
RJ_2018['ano'] = 2018

RJ_2019['estado'] = 'RJ'
RJ_2019['ano'] = 2019

RJ_2020['estado'] = 'RJ'
RJ_2020['ano'] = 2020

RJ_2021['estado'] = 'RJ'
RJ_2021['ano'] = 2021

In [ ]:

RJ_2010 = RJ_2010[cols_to_keep]
RJ_2011 = RJ_2011[cols_to_keep]
RJ_2012 = RJ_2012[cols_to_keep]
RJ_2013 = RJ_2013[cols_to_keep]
RJ_2014 = RJ_2014[cols_to_keep]
RJ_2015 = RJ_2015[cols_to_keep]
RJ_2016 = RJ_2016[cols_to_keep]
RJ_2017 = RJ_2017[cols_to_keep]
RJ_2018 = RJ_2018[cols_to_keep]
RJ_2019 = RJ_2019[cols_to_keep]
RJ_2020 = RJ_2020[cols_to_keep]
RJ_2021 = RJ_2021[cols_to_keep]

In [ ]:

RJ_All = pd.concat([RJ_2010, RJ_2011, RJ_2012, RJ_2013, RJ_2014, RJ_2015, RJ_2016, RJ_2017, RJ_2018, RJ_2019, RJ_2020, RJ_2021])

In [ ]:
RJ_All.to_csv('RJ_All.csv')

# RIO GRANDE DO NORTE

In [ ]:
RN_2010 = parquets_to_dataframe(download('RN', 2010))
RN_2011 = parquets_to_dataframe(download('RN', 2011))
RN_2012 = parquets_to_dataframe(download('RN', 2012))
RN_2013 = parquets_to_dataframe(download('RN', 2013))
RN_2014 = parquets_to_dataframe(download('RN', 2014))
RN_2015 = parquets_to_dataframe(download('RN', 2015))
RN_2016 = parquets_to_dataframe(download('RN', 2016))
RN_2017 = parquets_to_dataframe(download('RN', 2017))
RN_2018 = parquets_to_dataframe(download('RN', 2018))
RN_2019 = parquets_to_dataframe(download('RN', 2019))
RN_2020 = parquets_to_dataframe(download('RN', 2020))
RN_2021 = parquets_to_dataframe(download('RN', 2021))

In [ ]:
RN_2010['estado'] = 'RN'
RN_2010['ano'] = 2010

RN_2011['estado'] = 'RN'
RN_2011['ano'] = 2011

RN_2012['estado'] = 'RN'
RN_2012['ano'] = 2012

RN_2013['estado'] = 'RN'
RN_2013['ano'] = 2013

RN_2014['estado'] = 'RN'
RN_2014['ano'] = 2014

RN_2015['estado'] = 'RN'
RN_2015['ano'] = 2015

RN_2016['estado'] = 'RN'
RN_2016['ano'] = 2016

RN_2017['estado'] = 'RN'
RN_2017['ano'] = 2017

RN_2018['estado'] = 'RN'
RN_2018['ano'] = 2018

RN_2019['estado'] = 'RN'
RN_2019['ano'] = 2019

RN_2020['estado'] = 'RN'
RN_2020['ano'] = 2020

RN_2021['estado'] = 'RN'
RN_2021['ano'] = 2021

In [ ]:

RN_2010 = RN_2010[cols_to_keep]
RN_2011 = RN_2011[cols_to_keep]
RN_2012 = RN_2012[cols_to_keep]
RN_2013 = RN_2013[cols_to_keep]
RN_2014 = RN_2014[cols_to_keep]
RN_2015 = RN_2015[cols_to_keep]
RN_2016 = RN_2016[cols_to_keep]
RN_2017 = RN_2017[cols_to_keep]
RN_2018 = RN_2018[cols_to_keep]
RN_2019 = RN_2019[cols_to_keep]
RN_2020 = RN_2020[cols_to_keep]
RN_2021 = RN_2021[cols_to_keep]

In [ ]:

RN_All = pd.concat([RN_2010, RN_2011, RN_2012, RN_2013, RN_2014, RN_2015, RN_2016, RN_2017, RN_2018, RN_2019, RN_2020, RN_2021])

In [ ]:
RN_All.to_csv('RN_All.csv')

# RIO GRANDE DO SUL

In [ ]:
RS_2010 = parquets_to_dataframe(download('RS', 2010))
RS_2011 = parquets_to_dataframe(download('RS', 2011))
RS_2012 = parquets_to_dataframe(download('RS', 2012))
RS_2013 = parquets_to_dataframe(download('RS', 2013))
RS_2014 = parquets_to_dataframe(download('RS', 2014))
RS_2015 = parquets_to_dataframe(download('RS', 2015))
RS_2016 = parquets_to_dataframe(download('RS', 2016))
RS_2017 = parquets_to_dataframe(download('RS', 2017))
RS_2018 = parquets_to_dataframe(download('RS', 2018))
RS_2019 = parquets_to_dataframe(download('RS', 2019))
RS_2020 = parquets_to_dataframe(download('RS', 2020))
RS_2021 = parquets_to_dataframe(download('RS', 2021))

In [ ]:
RS_2010['estado'] = 'RS'
RS_2010['ano'] = 2010

RS_2011['estado'] = 'RS'
RS_2011['ano'] = 2011

RS_2012['estado'] = 'RS'
RS_2012['ano'] = 2012

RS_2013['estado'] = 'RS'
RS_2013['ano'] = 2013

RS_2014['estado'] = 'RS'
RS_2014['ano'] = 2014

RS_2015['estado'] = 'RS'
RS_2015['ano'] = 2015

RS_2016['estado'] = 'RS'
RS_2016['ano'] = 2016

RS_2017['estado'] = 'RS'
RS_2017['ano'] = 2017

RS_2018['estado'] = 'RS'
RS_2018['ano'] = 2018

RS_2019['estado'] = 'RS'
RS_2019['ano'] = 2019

RS_2020['estado'] = 'RS'
RS_2020['ano'] = 2020

RS_2021['estado'] = 'RS'
RS_2021['ano'] = 2021

In [ ]:

RS_2010 = RS_2010[cols_to_keep]
RS_2011 = RS_2011[cols_to_keep]
RS_2012 = RS_2012[cols_to_keep]
RS_2013 = RS_2013[cols_to_keep]
RS_2014 = RS_2014[cols_to_keep]
RS_2015 = RS_2015[cols_to_keep]
RS_2016 = RS_2016[cols_to_keep]
RS_2017 = RS_2017[cols_to_keep]
RS_2018 = RS_2018[cols_to_keep]
RS_2019 = RS_2019[cols_to_keep]
RS_2020 = RS_2020[cols_to_keep]
RS_2021 = RS_2021[cols_to_keep]

In [ ]:

RS_All = pd.concat([RS_2010, RS_2011, RS_2012, RS_2013, RS_2014, RS_2015, RS_2016, RS_2017, RS_2018, RS_2019, RS_2020, RS_2021])

In [ ]:
RS_All.to_csv('RS_All.csv')

# RONDONIA

In [ ]:
RO_2010 = parquets_to_dataframe(download('RO', 2010))
RO_2011 = parquets_to_dataframe(download('RO', 2011))
RO_2012 = parquets_to_dataframe(download('RO', 2012))
RO_2013 = parquets_to_dataframe(download('RO', 2013))
RO_2014 = parquets_to_dataframe(download('RO', 2014))
RO_2015 = parquets_to_dataframe(download('RO', 2015))
RO_2016 = parquets_to_dataframe(download('RO', 2016))
RO_2017 = parquets_to_dataframe(download('RO', 2017))
RO_2018 = parquets_to_dataframe(download('RO', 2018))
RO_2019 = parquets_to_dataframe(download('RO', 2019))
RO_2020 = parquets_to_dataframe(download('RO', 2020))
RO_2021 = parquets_to_dataframe(download('RO', 2021))

In [ ]:
RO_2010['estado'] = 'RO'
RO_2010['ano'] = 2010

RO_2011['estado'] = 'RO'
RO_2011['ano'] = 2011

RO_2012['estado'] = 'RO'
RO_2012['ano'] = 2012

RO_2013['estado'] = 'RO'
RO_2013['ano'] = 2013

RO_2014['estado'] = 'RO'
RO_2014['ano'] = 2014

RO_2015['estado'] = 'RO'
RO_2015['ano'] = 2015

RO_2016['estado'] = 'RO'
RO_2016['ano'] = 2016

RO_2017['estado'] = 'RO'
RO_2017['ano'] = 2017

RO_2018['estado'] = 'RO'
RO_2018['ano'] = 2018

RO_2019['estado'] = 'RO'
RO_2019['ano'] = 2019

RO_2020['estado'] = 'RO'
RO_2020['ano'] = 2020

RO_2021['estado'] = 'RO'
RO_2021['ano'] = 2021

In [ ]:
RO_2010 = RO_2010[cols_to_keep]
RO_2011 = RO_2011[cols_to_keep]
RO_2012 = RO_2012[cols_to_keep]
RO_2013 = RO_2013[cols_to_keep]
RO_2014 = RO_2014[cols_to_keep]
RO_2015 = RO_2015[cols_to_keep]
RO_2016 = RO_2016[cols_to_keep]
RO_2017 = RO_2017[cols_to_keep]
RO_2018 = RO_2018[cols_to_keep]
RO_2019 = RO_2019[cols_to_keep]
RO_2020 = RO_2020[cols_to_keep]
RO_2021 = RO_2021[cols_to_keep]

In [ ]:
RO_All = pd.concat([RO_2010, RO_2011, RO_2012, RO_2013, RO_2014, RO_2015, RO_2016, RO_2017, RO_2018, RO_2019, RO_2020, RO_2021])

In [ ]:

RO_All.to_csv('RO_All.csv')

# RORAIMA

In [ ]:
RR_2010 = parquets_to_dataframe(download('RR', 2010))
RR_2011 = parquets_to_dataframe(download('RR', 2011))
RR_2012 = parquets_to_dataframe(download('RR', 2012))
RR_2013 = parquets_to_dataframe(download('RR', 2013))
RR_2014 = parquets_to_dataframe(download('RR', 2014))
RR_2015 = parquets_to_dataframe(download('RR', 2015))
RR_2016 = parquets_to_dataframe(download('RR', 2016))
RR_2017 = parquets_to_dataframe(download('RR', 2017))
RR_2018 = parquets_to_dataframe(download('RR', 2018))
RR_2019 = parquets_to_dataframe(download('RR', 2019))
RR_2020 = parquets_to_dataframe(download('RR', 2020))
RR_2021 = parquets_to_dataframe(download('RR', 2021))

In [ ]:
RR_2010['estado'] = 'RR'
RR_2010['ano'] = 2010

RR_2011['estado'] = 'RR'
RR_2011['ano'] = 2011

RR_2012['estado'] = 'RR'
RR_2012['ano'] = 2012

RR_2013['estado'] = 'RR'
RR_2013['ano'] = 2013

RR_2014['estado'] = 'RR'
RR_2014['ano'] = 2014

RR_2015['estado'] = 'RR'
RR_2015['ano'] = 2015

RR_2016['estado'] = 'RR'
RR_2016['ano'] = 2016

RR_2017['estado'] = 'RR'
RR_2017['ano'] = 2017

RR_2018['estado'] = 'RR'
RR_2018['ano'] = 2018

RR_2019['estado'] = 'RR'
RR_2019['ano'] = 2019

RR_2020['estado'] = 'RR'
RR_2020['ano'] = 2020

RR_2021['estado'] = 'RR'
RR_2021['ano'] = 2021

In [ ]:


RR_2010 = RR_2010[cols_to_keep]
RR_2011 = RR_2011[cols_to_keep]
RR_2012 = RR_2012[cols_to_keep]
RR_2013 = RR_2013[cols_to_keep]
RR_2014 = RR_2014[cols_to_keep]
RR_2015 = RR_2015[cols_to_keep]
RR_2016 = RR_2016[cols_to_keep]
RR_2017 = RR_2017[cols_to_keep]
RR_2018 = RR_2018[cols_to_keep]
RR_2019 = RR_2019[cols_to_keep]
RR_2020 = RR_2020[cols_to_keep]
RR_2021 = RR_2021[cols_to_keep]

In [ ]:

RR_All = pd.concat([RR_2010, RR_2011, RR_2012, RR_2013, RR_2014, RR_2015, RR_2016, RR_2017, RR_2018, RR_2019, RR_2020, RR_2021])

In [ ]:
RR_All.to_csv('RR_All.csv')

# SANTA CATARINA

In [ ]:
SC_2010 = parquets_to_dataframe(download('SC', 2010))
SC_2011 = parquets_to_dataframe(download('SC', 2011))
SC_2012 = parquets_to_dataframe(download('SC', 2012))
SC_2013 = parquets_to_dataframe(download('SC', 2013))
SC_2014 = parquets_to_dataframe(download('SC', 2014))
SC_2015 = parquets_to_dataframe(download('SC', 2015))
SC_2016 = parquets_to_dataframe(download('SC', 2016))
SC_2017 = parquets_to_dataframe(download('SC', 2017))
SC_2018 = parquets_to_dataframe(download('SC', 2018))
SC_2019 = parquets_to_dataframe(download('SC', 2019))
SC_2020 = parquets_to_dataframe(download('SC', 2020))
SC_2021 = parquets_to_dataframe(download('SC', 2021))

In [ ]:
SC_2010['estado'] = 'SC'
SC_2010['ano'] = 2010

SC_2011['estado'] = 'SC'
SC_2011['ano'] = 2011

SC_2012['estado'] = 'SC'
SC_2012['ano'] = 2012

SC_2013['estado'] = 'SC'
SC_2013['ano'] = 2013

SC_2014['estado'] = 'SC'
SC_2014['ano'] = 2014

SC_2015['estado'] = 'SC'
SC_2015['ano'] = 2015

SC_2016['estado'] = 'SC'
SC_2016['ano'] = 2016

SC_2017['estado'] = 'SC'
SC_2017['ano'] = 2017

SC_2018['estado'] = 'SC'
SC_2018['ano'] = 2018

SC_2019['estado'] = 'SC'
SC_2019['ano'] = 2019

SC_2020['estado'] = 'SC'
SC_2020['ano'] = 2020

SC_2021['estado'] = 'SC'
SC_2021['ano'] = 2021

In [ ]:

SC_2010 = SC_2010[cols_to_keep]
SC_2011 = SC_2011[cols_to_keep]
SC_2012 = SC_2012[cols_to_keep]
SC_2013 = SC_2013[cols_to_keep]
SC_2014 = SC_2014[cols_to_keep]
SC_2015 = SC_2015[cols_to_keep]
SC_2016 = SC_2016[cols_to_keep]
SC_2017 = SC_2017[cols_to_keep]
SC_2018 = SC_2018[cols_to_keep]
SC_2019 = SC_2019[cols_to_keep]
SC_2020 = SC_2020[cols_to_keep]
SC_2021 = SC_2021[cols_to_keep]

In [ ]:

SC_All = pd.concat([SC_2010, SC_2011, SC_2012, SC_2013, SC_2014, SC_2015, SC_2016, SC_2017, SC_2018, SC_2019, SC_2020, SC_2021])

In [ ]:
SC_All.to_csv('SC_All.csv')

# SÃO PAULO

In [ ]:

SP_2010 = parquets_to_dataframe(download('SP', 2010))
SP_2011 = parquets_to_dataframe(download('SP', 2011))
SP_2012 = parquets_to_dataframe(download('SP', 2012))
SP_2013 = parquets_to_dataframe(download('SP', 2013))
SP_2014 = parquets_to_dataframe(download('SP', 2014))
SP_2015 = parquets_to_dataframe(download('SP', 2015))
SP_2016 = parquets_to_dataframe(download('SP', 2016))
SP_2017 = parquets_to_dataframe(download('SP', 2017))
SP_2018 = parquets_to_dataframe(download('SP', 2018))
SP_2019 = parquets_to_dataframe(download('SP', 2019))
SP_2020 = parquets_to_dataframe(download('SP', 2020))
SP_2021 = parquets_to_dataframe(download('SP', 2021))

In [ ]:
SP_2010['estado'] = 'SP'
SP_2010['ano'] = 2010

SP_2011['estado'] = 'SP'
SP_2011['ano'] = 2011

SP_2012['estado'] = 'SP'
SP_2012['ano'] = 2012

SP_2013['estado'] = 'SP'
SP_2013['ano'] = 2013

SP_2014['estado'] = 'SP'
SP_2014['ano'] = 2014

SP_2015['estado'] = 'SP'
SP_2015['ano'] = 2015

SP_2016['estado'] = 'SP'
SP_2016['ano'] = 2016

SP_2017['estado'] = 'SP'
SP_2017['ano'] = 2017

SP_2018['estado'] = 'SP'
SP_2018['ano'] = 2018

SP_2019['estado'] = 'SP'
SP_2019['ano'] = 2019

SP_2020['estado'] = 'SP'
SP_2020['ano'] = 2020

SP_2021['estado'] = 'SP'
SP_2021['ano'] = 2021

In [ ]:


SP_2010 = SP_2010[cols_to_keep]
SP_2011 = SP_2011[cols_to_keep]
SP_2012 = SP_2012[cols_to_keep]
SP_2013 = SP_2013[cols_to_keep]
SP_2014 = SP_2014[cols_to_keep]
SP_2015 = SP_2015[cols_to_keep]
SP_2016 = SP_2016[cols_to_keep]
SP_2017 = SP_2017[cols_to_keep]
SP_2018 = SP_2018[cols_to_keep]
SP_2019 = SP_2019[cols_to_keep]
SP_2020 = SP_2020[cols_to_keep]
SP_2021 = SP_2021[cols_to_keep]

In [ ]:

SP_All = pd.concat([SP_2010, SP_2011, SP_2012, SP_2013, SP_2014, SP_2015, SP_2016, SP_2017, SP_2018, SP_2019, SP_2020, SP_2021])

In [ ]:
SP_All.to_csv('SP_All.csv')

# SERGIPE

In [ ]:

SE_2010 = parquets_to_dataframe(download('SE', 2010))
SE_2011 = parquets_to_dataframe(download('SE', 2011))
SE_2012 = parquets_to_dataframe(download('SE', 2012))
SE_2013 = parquets_to_dataframe(download('SE', 2013))
SE_2014 = parquets_to_dataframe(download('SE', 2014))
SE_2015 = parquets_to_dataframe(download('SE', 2015))
SE_2016 = parquets_to_dataframe(download('SE', 2016))
SE_2017 = parquets_to_dataframe(download('SE', 2017))
SE_2018 = parquets_to_dataframe(download('SE', 2018))
SE_2019 = parquets_to_dataframe(download('SE', 2019))
SE_2020 = parquets_to_dataframe(download('SE', 2020))
SE_2021 = parquets_to_dataframe(download('SE', 2021))

In [ ]:
SE_2010['estado'] = 'SE'
SE_2010['ano'] = 2010

SE_2011['estado'] = 'SE'
SE_2011['ano'] = 2011

SE_2012['estado'] = 'SE'
SE_2012['ano'] = 2012

SE_2013['estado'] = 'SE'
SE_2013['ano'] = 2013

SE_2014['estado'] = 'SE'
SE_2014['ano'] = 2014

SE_2015['estado'] = 'SE'
SE_2015['ano'] = 2015

SE_2016['estado'] = 'SE'
SE_2016['ano'] = 2016

SE_2017['estado'] = 'SE'
SE_2017['ano'] = 2017

SE_2018['estado'] = 'SE'
SE_2018['ano'] = 2018

SE_2019['estado'] = 'SE'
SE_2019['ano'] = 2019

SE_2020['estado'] = 'SE'
SE_2020['ano'] = 2020

SE_2021['estado'] = 'SE'
SE_2021['ano'] = 2021

In [ ]:

SE_2010 = SE_2010[cols_to_keep]
SE_2011 = SE_2011[cols_to_keep]
SE_2012 = SE_2012[cols_to_keep]
SE_2013 = SE_2013[cols_to_keep]
SE_2014 = SE_2014[cols_to_keep]
SE_2015 = SE_2015[cols_to_keep]
SE_2016 = SE_2016[cols_to_keep]
SE_2017 = SE_2017[cols_to_keep]
SE_2018 = SE_2018[cols_to_keep]
SE_2019 = SE_2019[cols_to_keep]
SE_2020 = SE_2020[cols_to_keep]
SE_2021 = SE_2021[cols_to_keep]

In [ ]:

SE_All = pd.concat([SE_2010, SE_2011, SE_2012, SE_2013, SE_2014, SE_2015, SE_2016, SE_2017, SE_2018, SE_2019, SE_2020, SE_2021])

In [ ]:
SE_All.to_csv('SE_All.csv')

#TOCANTINS

In [ ]:
TO_2010 = parquets_to_dataframe(download('TO', 2010))
TO_2011 = parquets_to_dataframe(download('TO', 2011))
TO_2012 = parquets_to_dataframe(download('TO', 2012))
TO_2013 = parquets_to_dataframe(download('TO', 2013))
TO_2014 = parquets_to_dataframe(download('TO', 2014))
TO_2015 = parquets_to_dataframe(download('TO', 2015))
TO_2016 = parquets_to_dataframe(download('TO', 2016))
TO_2017 = parquets_to_dataframe(download('TO', 2017))
TO_2018 = parquets_to_dataframe(download('TO', 2018))
TO_2019 = parquets_to_dataframe(download('TO', 2019))
TO_2020 = parquets_to_dataframe(download('TO', 2020))
TO_2021 = parquets_to_dataframe(download('TO', 2021))

In [ ]:
TO_2010['estado'] = 'TO'
TO_2010['ano'] = 2010

TO_2011['estado'] = 'TO'
TO_2011['ano'] = 2011

TO_2012['estado'] = 'TO'
TO_2012['ano'] = 2012

TO_2013['estado'] = 'TO'
TO_2013['ano'] = 2013

TO_2014['estado'] = 'TO'
TO_2014['ano'] = 2014

TO_2015['estado'] = 'TO'
TO_2015['ano'] = 2015

TO_2016['estado'] = 'TO'
TO_2016['ano'] = 2016

TO_2017['estado'] = 'TO'
TO_2017['ano'] = 2017

TO_2018['estado'] = 'TO'
TO_2018['ano'] = 2018

TO_2019['estado'] = 'TO'
TO_2019['ano'] = 2019

TO_2020['estado'] = 'TO'
TO_2020['ano'] = 2020

TO_2021['estado'] = 'TO'
TO_2021['ano'] = 2021

In [ ]:

TO_2010 = TO_2010[cols_to_keep]
TO_2011 = TO_2011[cols_to_keep]
TO_2012 = TO_2012[cols_to_keep]
TO_2013 = TO_2013[cols_to_keep]
TO_2014 = TO_2014[cols_to_keep]
TO_2015 = TO_2015[cols_to_keep]
TO_2016 = TO_2016[cols_to_keep]
TO_2017 = TO_2017[cols_to_keep]
TO_2018 = TO_2018[cols_to_keep]
TO_2019 = TO_2019[cols_to_keep]
TO_2020 = TO_2020[cols_to_keep]
TO_2021 = TO_2021[cols_to_keep]

In [ ]:

TO_All = pd.concat([TO_2010, TO_2011, TO_2012, TO_2013, TO_2014, TO_2015, TO_2016, TO_2017, TO_2018, TO_2019, TO_2020, TO_2021])

In [ ]:

TO_All.to_csv('TO_All.csv')

In [ ]:
filter_list=["X{}".format(x) for x in range(600, 850)]

In [ ]:
data_all = pd.concat([TO_All, ac_all, SP_All,SE_All, SC_All,RS_All, RR_All, RO_All, RN_All, RJ_All, PR_All, PI_All, PE_All, PB_All,PA_All, MT_All, MS_All, MG_All, MA_All, GO_All, ES_All, DF_All, CE_All, BA_All,
                      AP_all, AM_All, AL_all], ignore_index = True)

In [ ]:
data_all.shape

(15828216, 16)

In [ ]:
TO = TO_All[TO_All['CAUSABAS'].isin(filter_list)|
            TO_All['CAUSABAS_O'].isin(filter_list)]

In [ ]:
data = data_all[data_all['CAUSABAS'].isin(filter_list) |
                 data_all['CAUSABAS_O'].isin(filter_list)]

In [ ]:
data.shape

(55367, 16)

In [ ]:
# Vários valores vieram como float. Em questão disso, operações de substituição não puderam ser realizadas.

data = data.fillna(0)

# Organizando sexo
data['SEXO'] = data['SEXO'].astype(str)
data['SEXO'] = data['SEXO'].map(lambda x: x.rstrip('.0'))

# Organizando raça/cor
data['RACACOR'] = data['RACACOR'].astype(str)
data['RACACOR'] = data['RACACOR'].map(lambda x: x.rstrip('.0'))

# Organizando estado civil
data['ESTCIV'] = data['ESTCIV'].astype(str)
data['ESTCIV'] = data['ESTCIV'].map(lambda x: x.rstrip('.0'))

# Organizando escolaridade
data['ESC'] = data['ESC'].astype(str)
data['ESC'] = data['ESC'].map(lambda x: x.rstrip('.0'))

# Organizando local da ocorrência
data['LOCOCOR'] = data['LOCOCOR'].astype(str)
data['LOCOCOR'] = data['LOCOCOR'].map(lambda x: x.rstrip('.0'))

# Organizando assistência média (sim, não)
data['ASSISTMED'] = data['ASSISTMED'].astype(str)
data['ASSISTMED'] = data['ASSISTMED'].map(lambda x: x.rstrip('.0'))

# Organizando escolaridade da mãe
data['ESCMAE'] = data['ESCMAE'].astype(str)
data['ESCMAE'] = data['ESCMAE'].map(lambda x: x.rstrip('.0'))

# Organizando cirurgia (sim, não)
data['CIRURGIA'] = data['CIRURGIA'].astype(str)
data['CIRURGIA'] = data['CIRURGIA'].map(lambda x: x.rstrip('.0'))

In [ ]:
# Recodificando variáveis = Criando dicionários
dicSEXO = {
    '1' : 'Masculino',
    '2' : 'Feminino',
    '0' : 'NA',
    '9' : 'NA'
}

dicRACACOR = {
    '1' : 'Branca',
    '2' : 'Preta',
    '3' : 'Amarela',
    '4' : 'Parda',
    '5' : 'Indígena',
    '0' : 'NaN', 
    '6' : 'NaN',
    '7' : 'NaN',
    '8' : 'NaN',
    '9' : 'NaN'
}

dicESTCIV = {
    '1' : 'Solteiro',
    '2' : 'Casado',
    '3' : 'Viúvo',
    '4' : 'Separado judicialmente',
    '5' : 'União consensual',
    '0' : 'NaN', 
    '6' : 'NaN',
    '7' : 'NaN',
    '8' : 'NaN',
    '9' : 'NaN'
}

dicESC = {
    '1' : 'Nenhuma',
    '2' : '1 a 3 anos',
    '3' : '4 a 7 anos',
    '4' : '8 a 11 anos',
    '5' : '12 e mais',
    '8' : 'De 9 a 11 anos',
    '0' : 'NaN',
    '6' : 'NaN',
    '7' : 'NaN',
    '9' : 'NaN',
    ''  : 'NaN'
}

dictLOCOCOR = {
    '1' : 'Hospital',
    '2' : 'Outro estabelecimento de saúde',
    '3' : 'Domicílio',
    '4' : 'Via pública',
    '5' : 'Outros',
    '9' : 'NaN'
}

dictASSISTMED = {
    '1' : 'Sim',
    '2' : 'Não',
    '9' : 'NaN'
}

dicESCMAE = {
    '1' : 'Nenhuma',
    '2' : '1 a 3 anos',
    '3' : '4 a 7 anos',
    '4' : '8 a 11 anos',
    '5' : '12 e mais',
    '8' : 'De 9 a 11 anos',
    '0' : 'NaN',
    '6' : 'NaN',
    '7' : 'NaN',
    '9' : 'NaN',
    ''  : 'NaN' 
}


dicCIRURGIA = {
    '1' : 'Sim',
    '2' : 'Não',
    '9' : 'NaN'
}

data = data.replace(
    {'SEXO' : dicSEXO, 
     'RACACOR' : dicRACACOR, 
     'ESTCIV' : dicESTCIV, 
     'ESC' : dicESC, 
     'LOCOCOR' : dictLOCOCOR, 
     'ASSISTMED' : dictASSISTMED,
     'ESCMAE' : dicESCMAE,
     'CIRURGIA' : dicCIRURGIA
    })

In [ ]:
data.head()

,estado,ano,DTOBITO,DTNASC,SEXO,RACACOR,ASSISTMED,ESCMAE,ESTCIV,ESC,OCUP,CODMUNRES,CAUSABAS,CAUSABAS_O,LOCOCOR,CIRURGIA
57077,TO,2018,20052018,08061953,Feminino,Branca,Sim,NaN,Casado,NaN,,171820,X769,X769,Hospital,
57082,TO,2018,29052018,05111991,Feminino,Parda,Não,NaN,Solteiro,NaN,999992,171320,X707,X707,Outros,
57109,TO,2018,14062018,10091966,Masculino,Branca,Não,NaN,Solteiro,12 e mais,354705,172100,X705,X705,Outros,
57116,TO,2018,22062018,11031992,Masculino,Parda,Não,NaN,Solteiro,8 a 11 anos,621005,170240,X707,X707,Outros,
57136,TO,2018,10072018,01011985,Masculino,Branca,,NaN,União consensual,8 a 11 anos,517310,172100,X700,X700,Domicílio,

In [ ]:
# Organizando datas
data['DTNASC'] = data['DTNASC'].astype(str)
data['DTNASC'] = data['DTNASC'].map(lambda x: x.rstrip('.0'))
data['DTOBITO'] = data['DTOBITO'].astype(str)

In [ ]:
# Arrumando número de casas
data['DTOBITO'] = data['DTOBITO'].apply(lambda x: x.zfill(8))
data['DTNASC'] = data['DTNASC'].apply(lambda x: x.zfill(8))

In [ ]:
# Arrumando ocupação
data['OCUP'] = data['OCUP'].astype(str)
data['OCUP'] = data['OCUP'].apply(lambda x: x.zfill(6))

url_cbo = 'https://raw.githubusercontent.com/daltonbc96/python/master/CBO.csv'

CBO2002  = pd.read_csv(url_cbo).set_index('CODIGO').to_dict()

#data['OCUP'] = data['OCUP'].fillna(0).astype(str)
#data['OCUP'] = data['OCUP'].map(lambda x: x.rstrip('.0'))
#data['OCUP'] = data['OCUP'].replace('000nan', 0).astype(int)
#data['OCUP'] = data['OCUP'].replace('', 0)
#data['OCUP'] = data['OCUP'].replace(CBO2002['OCUPACAO'])
#data['OCUP'] = data['OCUP'].replace(0, 'NaN')

data['OCUP'] = data['OCUP'].fillna(0).astype(str)
data['OCUP'] = data['OCUP'].map(lambda x: x.rstrip('.0'))
data['OCUP'] = data['OCUP'].replace('000nan', '0').astype(int)
data['OCUP'] = data['OCUP'].replace('', 0)
data['OCUP'] = data['OCUP'].replace(CBO2002['OCUPACAO'])

ValueError: ignored

In [ ]:
# Arrumando ocupação
data['OCUP'] = data['OCUP'].astype(str)
data['OCUP'] = data['OCUP'].apply(lambda x: x.zfill(6))

url_cbo = 'https://raw.githubusercontent.com/daltonbc96/python/master/CBO.csv'

CBO2002  = pd.read_csv(url_cbo).set_index('CODIGO').to_dict()

data['OCUP'] = data['OCUP'].fillna(0).astype(str)
data['OCUP'] = data['OCUP'].map(lambda x: x.rstrip('.0'))
data['OCUP'] = data['OCUP'].replace('000nan', np.nan)
data['OCUP'] = data['OCUP'].replace('', 0)
data['OCUP'] = data['OCUP'].replace(CBO2002['OCUPACAO'])

In [ ]:
CBO2002

In [ ]:
#Codificando municipios

url_mun = 'http://blog.mds.gov.br/redesuas/wp-content/uploads/2018/06/Lista_Munic%C3%ADpios_com_IBGE_Brasil_Versao_CSV.csv'

municipios  = pd.read_csv(url_mun,error_bad_lines = False, sep = ';', encoding = 'latin-1',  usecols = ['IBGE','Município']).set_index('IBGE').to_dict()

data['CODMUNRES'] = data['CODMUNRES'].astype(int).replace(municipios['Município'])

<ipython-input-243-afe9c40cccf5>:5: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  municipios  = pd.read_csv(url_mun,error_bad_lines = False, sep = ';', encoding = 'latin-1',  usecols = ['IBGE','Município']).set_index('IBGE').to_dict()

In [ ]:
data.head(n = 20)

,estado,ano,DTOBITO,DTNASC,SEXO,RACACOR,ASSISTMED,ESCMAE,ESTCIV,ESC,OCUP,CODMUNRES,CAUSABAS,CAUSABAS_O,LOCOCOR,CIRURGIA
57077,TO,2018,20052018,08061953,Feminino,Branca,Sim,NaN,Casado,NaN,0,Porto Nacional,X769,X769,Hospital,
57082,TO,2018,29052018,05111991,Feminino,Parda,Não,NaN,Solteiro,NaN,999992,Miracema do Tocantins,X707,X707,Outros,
57109,TO,2018,14062018,10091966,Masculino,Branca,Não,NaN,Solteiro,12 e mais,354705,Palmas,X705,X705,Outros,
57116,TO,2018,22062018,11031992,Masculino,Parda,Não,NaN,Solteiro,8 a 11 anos,621005,Arraias,X707,X707,Outros,
57136,TO,2018,10072018,01011985,Masculino,Branca,,NaN,União consensual,8 a 11 anos,051731,Palmas,X700,X700,Domicílio,
57155,TO,2018,28072018,11081976,Masculino,Parda,Não,NaN,Solteiro,4 a 7 anos,512105,Palmas,X700,X700,Domicílio,
57161,TO,2018,06082018,03011949,Feminino,Parda,Não,NaN,Viúvo,NaN,999993,Colinas do Tocantins,X700,X700,Outros,
57449,TO,2018,24052018,14021985,Masculino,Parda,Não,NaN,Solteiro,8 a 11 anos,0,Natividade,X700,X700,Domicílio,
57620,TO,2018,28022018,08022001,Masculino,Parda,,NaN,Solteiro,8 a 11 anos,999992,Dianópolis,X640,X640,Hospital,
57728,TO,2018,12012018,08021971,Masculino,Parda,,NaN,União consensual,NaN,621005,Araguatins,X700,X700,Domicílio,
57745,TO,2018,03042018,02061944,Masculino,Parda,Não,NaN,Solteiro,Nenhuma,999993,Araguatins,X700,X700,Domicílio,
57747,TO,2018,29042018,27071969,Masculino,Parda,Não,NaN,Casado,1 a 3 anos,621005,Augustinópolis,X700,X700,Domicílio,
57871,TO,2018,02012018,13071944,Masculino,Branca,Sim,NaN,Casado,1 a 3 anos,999993,Natividade,X680,Y349,Hospital,
58070,TO,2018,09042018,04111983,Masculino,Parda,Não,NaN,Solteiro,8 a 11 anos,782315,Gurupi,X709,X709,Via pública,
58075,TO,2018,29042018,07111967,Masculino,Parda,Não,NaN,Solteiro,NaN,051731,Araguaçu,X709,X709,Domicílio,
58173,TO,2018,04062018,02312198,Masculino,Branca,Não,NaN,Casado,12 e mais,031105,Gurupi,X709,X709,Domicílio,
58229,TO,2018,23062018,10041992,Masculino,Parda,Não,NaN,União consensual,4 a 7 anos,064101,Gurupi,X709,X709,Domicílio,
58503,TO,2018,02022018,15041922,Feminino,Parda,,NaN,Viúvo,Nenhuma,999992,São Valério da Natividade,X709,X709,Domicílio,
58578,TO,2018,03012018,27041981,Masculino,Parda,Não,NaN,Solteiro,4 a 7 anos,071521,Gurupi,X709,X709,Domicílio,
58676,TO,2018,28012018,03081954,Feminino,Branca,Não,NaN,Casado,12 e mais,999993,Paraíso do Tocantins,X700,X700,Domicílio,

In [ ]:
data['OCUP'] = data['OCUP'].replace(CBO2002['OCUPACAO'])

In [ ]:
data.head(n = 20)

,estado,ano,DTOBITO,DTNASC,SEXO,RACACOR,ASSISTMED,ESCMAE,ESTCIV,ESC,OCUP,CODMUNRES,CAUSABAS,CAUSABAS_O,LOCOCOR,CIRURGIA
57077,TO,2018,20052018,08061953,Feminino,Branca,Sim,NaN,Casado,NaN,0,Porto Nacional,X769,X769,Hospital,
57082,TO,2018,29052018,05111991,Feminino,Parda,Não,NaN,Solteiro,NaN,DONA DE CASA,Miracema do Tocantins,X707,X707,Outros,
57109,TO,2018,14062018,10091966,Masculino,Branca,Não,NaN,Solteiro,12 e mais,REPRESENTANTE COMERCIAL AUTONOMO,Palmas,X705,X705,Outros,
57116,TO,2018,22062018,11031992,Masculino,Parda,Não,NaN,Solteiro,8 a 11 anos,TRABALHADOR AGROPECUARIO EM GERAL,Arraias,X707,X707,Outros,
57136,TO,2018,10072018,01011985,Masculino,Branca,,NaN,União consensual,8 a 11 anos,51731,Palmas,X700,X700,Domicílio,
57155,TO,2018,28072018,11081976,Masculino,Parda,Não,NaN,Solteiro,4 a 7 anos,EMPREGADO DOMESTICO NOS SERVICOS GERAIS,Palmas,X700,X700,Domicílio,
57161,TO,2018,06082018,03011949,Feminino,Parda,Não,NaN,Viúvo,NaN,APOSENTADO/PENSIONISTA,Colinas do Tocantins,X700,X700,Outros,
57449,TO,2018,24052018,14021985,Masculino,Parda,Não,NaN,Solteiro,8 a 11 anos,0,Natividade,X700,X700,Domicílio,
57620,TO,2018,28022018,08022001,Masculino,Parda,,NaN,Solteiro,8 a 11 anos,DONA DE CASA,Dianópolis,X640,X640,Hospital,
57728,TO,2018,12012018,08021971,Masculino,Parda,,NaN,União consensual,NaN,TRABALHADOR AGROPECUARIO EM GERAL,Araguatins,X700,X700,Domicílio,
57745,TO,2018,03042018,02061944,Masculino,Parda,Não,NaN,Solteiro,Nenhuma,APOSENTADO/PENSIONISTA,Araguatins,X700,X700,Domicílio,
57747,TO,2018,29042018,27071969,Masculino,Parda,Não,NaN,Casado,1 a 3 anos,TRABALHADOR AGROPECUARIO EM GERAL,Augustinópolis,X700,X700,Domicílio,
57871,TO,2018,02012018,13071944,Masculino,Branca,Sim,NaN,Casado,1 a 3 anos,APOSENTADO/PENSIONISTA,Natividade,X680,Y349,Hospital,
58070,TO,2018,09042018,04111983,Masculino,Parda,Não,NaN,Solteiro,8 a 11 anos,MOTORISTA DE TAXI,Gurupi,X709,X709,Via pública,
58075,TO,2018,29042018,07111967,Masculino,Parda,Não,NaN,Solteiro,NaN,51731,Araguaçu,X709,X709,Domicílio,
58173,TO,2018,04062018,02312198,Masculino,Branca,Não,NaN,Casado,12 e mais,SUBTENENTE BOMBEIRO MILITAR,Gurupi,X709,X709,Domicílio,
58229,TO,2018,23062018,10041992,Masculino,Parda,Não,NaN,União consensual,4 a 7 anos,64101,Gurupi,X709,X709,Domicílio,
58503,TO,2018,02022018,15041922,Feminino,Parda,,NaN,Viúvo,Nenhuma,DONA DE CASA,São Valério da Natividade,X709,X709,Domicílio,
58578,TO,2018,03012018,27041981,Masculino,Parda,Não,NaN,Solteiro,4 a 7 anos,71521,Gurupi,X709,X709,Domicílio,
58676,TO,2018,28012018,03081954,Feminino,Branca,Não,NaN,Casado,12 e mais,APOSENTADO/PENSIONISTA,Paraíso do Tocantins,X700,X700,Domicílio,

In [ ]:
data['OCUP'] = data['OCUP'].astype(int)

In [ ]:
data.to_csv('data_suicidio.csv')

In [ ]:
from google.colab import drive
drive.mount ('/drive')
ac_2010=ac_2010.to_csv('/drive/MyDrive/csv/ac_2010.csv')
ac_2011=ac_2011.to_csv('/drive/MyDrive/csv/ac_2011.csv')
ac_2012=ac_2012.to_csv('/drive/MyDrive/csv/ac_2012.csv')
ac_2013=ac_2013.to_csv('/drive/MyDrive/csv/ac_2013.csv')
ac_2014=ac_2014.to_csv('/drive/MyDrive/csv/ac_2014.csv')
ac_2015=ac_2015.to_csv('/drive/MyDrive/csv/ac_2015.csv')
ac_2016=ac_2016.to_csv('/drive/MyDrive/csv/ac_2016.csv')
ac_2017=ac_2017.to_csv('/drive/MyDrive/csv/ac_2017.csv')
ac_2018=ac_2018.to_csv('/drive/MyDrive/csv/ac_2018.csv')
ac_2019=ac_2019.to_csv('/drive/MyDrive/csv/ac_2019.csv')
ac_2020=ac_2020.to_csv('/drive/MyDrive/csv/ac_2020.csv')
ac_2021=ac_2021.to_csv('/drive/MyDrive/csv/ac_2021.csv')
AL_2010=AL_2010.to_csv('/drive/MyDrive/csv/AL_2010.csv')
AL_2011=AL_2011.to_csv('/drive/MyDrive/csv/AL_2011.csv')
AL_2012=AL_2012.to_csv('/drive/MyDrive/csv/AL_2012.csv')
AL_2013=AL_2013.to_csv('/drive/MyDrive/csv/AL_2013.csv')
AL_2014=AL_2014.to_csv('/drive/MyDrive/csv/AL_2014.csv')
AL_2015=AL_2015.to_csv('/drive/MyDrive/csv/AL_2015.csv')
AL_2016=AL_2016.to_csv('/drive/MyDrive/csv/AL_2016.csv')
AL_2017=AL_2017.to_csv('/drive/MyDrive/csv/AL_2017.csv')
AL_2018=AL_2018.to_csv('/drive/MyDrive/csv/AL_2018.csv')
AL_2019=AL_2019.to_csv('/drive/MyDrive/csv/AL_2019.csv')
AL_2020=AL_2020.to_csv('/drive/MyDrive/csv/AL_2020.csv')
AL_2021=AL_2021.to_csv('/drive/MyDrive/csv/AL_2021.csv')
AP_2010=AP_2010.to_csv('/drive/MyDrive/csv/AP_2010.csv')
AP_2011=AP_2011.to_csv('/drive/MyDrive/csv/AP_2011.csv')
AP_2012=AP_2012.to_csv('/drive/MyDrive/csv/AP_2012.csv')
AP_2013=AP_2013.to_csv('/drive/MyDrive/csv/AP_2013.csv')
AP_2014=AP_2014.to_csv('/drive/MyDrive/csv/AP_2014.csv')
AP_2015=AP_2015.to_csv('/drive/MyDrive/csv/AP_2015.csv')
AP_2016=AP_2016.to_csv('/drive/MyDrive/csv/AP_2016.csv')
AP_2017=AP_2017.to_csv('/drive/MyDrive/csv/AP_2017.csv')
AP_2018=AP_2018.to_csv('/drive/MyDrive/csv/AP_2018.csv')
AP_2019=AP_2019.to_csv('/drive/MyDrive/csv/AP_2019.csv')
AP_2020=AP_2020.to_csv('/drive/MyDrive/csv/AP_2020.csv')
AP_2021=AP_2021.to_csv('/drive/MyDrive/csv/AP_2021.csv')
AM_2010=AM_2010.to_csv('/drive/MyDrive/csv/AM_2010.csv')
AM_2011=AM_2011.to_csv('/drive/MyDrive/csv/AM_2011.csv')
AM_2012=AM_2012.to_csv('/drive/MyDrive/csv/AM_2012.csv')
AM_2013=AM_2013.to_csv('/drive/MyDrive/csv/AM_2013.csv')
AM_2014=AM_2014.to_csv('/drive/MyDrive/csv/AM_2014.csv')
AM_2015=AM_2015.to_csv('/drive/MyDrive/csv/AM_2015.csv')
AM_2016=AM_2016.to_csv('/drive/MyDrive/csv/AM_2016.csv')
AM_2017=AM_2017.to_csv('/drive/MyDrive/csv/AM_2017.csv')
AM_2018=AM_2018.to_csv('/drive/MyDrive/csv/AM_2018.csv')
AM_2019=AM_2019.to_csv('/drive/MyDrive/csv/AM_2019.csv')
AM_2020=AM_2020.to_csv('/drive/MyDrive/csv/AM_2020.csv')
AM_2021=AM_2021.to_csv('/drive/MyDrive/csv/AM_2021.csv')
BA_2010=BA_2010.to_csv('/drive/MyDrive/csv/BA_2010.csv')
BA_2011=BA_2011.to_csv('/drive/MyDrive/csv/BA_2011.csv')
BA_2012=BA_2012.to_csv('/drive/MyDrive/csv/BA_2012.csv')
BA_2013=BA_2013.to_csv('/drive/MyDrive/csv/BA_2013.csv')
BA_2014=BA_2014.to_csv('/drive/MyDrive/csv/BA_2014.csv')
BA_2015=BA_2015.to_csv('/drive/MyDrive/csv/BA_2015.csv')
BA_2016=BA_2016.to_csv('/drive/MyDrive/csv/BA_2016.csv')
BA_2017=BA_2017.to_csv('/drive/MyDrive/csv/BA_2017.csv')
BA_2018=BA_2018.to_csv('/drive/MyDrive/csv/BA_2018.csv')
BA_2019=BA_2019.to_csv('/drive/MyDrive/csv/BA_2019.csv')
BA_2020=BA_2020.to_csv('/drive/MyDrive/csv/BA_2020.csv')
BA_2021=BA_2021.to_csv('/drive/MyDrive/csv/BA_2021.csv')
CE_2010=CE_2010.to_csv('/drive/MyDrive/csv/CE_2010.csv')
CE_2011=CE_2011.to_csv('/drive/MyDrive/csv/CE_2011.csv')
CE_2012=CE_2012.to_csv('/drive/MyDrive/csv/CE_2012.csv')
CE_2013=CE_2013.to_csv('/drive/MyDrive/csv/CE_2013.csv')
CE_2014=CE_2014.to_csv('/drive/MyDrive/csv/CE_2014.csv')
CE_2015=CE_2015.to_csv('/drive/MyDrive/csv/CE_2015.csv')
CE_2016=CE_2016.to_csv('/drive/MyDrive/csv/CE_2016.csv')
CE_2017=CE_2017.to_csv('/drive/MyDrive/csv/CE_2017.csv')
CE_2018=CE_2018.to_csv('/drive/MyDrive/csv/CE_2018.csv')
CE_2019=CE_2019.to_csv('/drive/MyDrive/csv/CE_2019.csv')
CE_2020=CE_2020.to_csv('/drive/MyDrive/csv/CE_2020.csv')
CE_2021=CE_2021.to_csv('/drive/MyDrive/csv/CE_2021.csv')
DF_2010=DF_2010.to_csv('/drive/MyDrive/csv/DF_2010.csv')
DF_2011=DF_2011.to_csv('/drive/MyDrive/csv/DF_2011.csv')
DF_2012=DF_2012.to_csv('/drive/MyDrive/csv/DF_2012.csv')
DF_2013=DF_2013.to_csv('/drive/MyDrive/csv/DF_2013.csv')
DF_2014=DF_2014.to_csv('/drive/MyDrive/csv/DF_2014.csv')
DF_2015=DF_2015.to_csv('/drive/MyDrive/csv/DF_2015.csv')
DF_2016=DF_2016.to_csv('/drive/MyDrive/csv/DF_2016.csv')
DF_2017=DF_2017.to_csv('/drive/MyDrive/csv/DF_2017.csv')
DF_2018=DF_2018.to_csv('/drive/MyDrive/csv/DF_2018.csv')
DF_2019=DF_2019.to_csv('/drive/MyDrive/csv/DF_2019.csv')
DF_2020=DF_2020.to_csv('/drive/MyDrive/csv/DF_2020.csv')
DF_2021=DF_2021.to_csv('/drive/MyDrive/csv/DF_2021.csv')
ES_2010=ES_2010.to_csv('/drive/MyDrive/csv/ES_2010.csv')
ES_2011=ES_2011.to_csv('/drive/MyDrive/csv/ES_2011.csv')
ES_2012=ES_2012.to_csv('/drive/MyDrive/csv/ES_2012.csv')
ES_2013=ES_2013.to_csv('/drive/MyDrive/csv/ES_2013.csv')
ES_2014=ES_2014.to_csv('/drive/MyDrive/csv/ES_2014.csv')
ES_2015=ES_2015.to_csv('/drive/MyDrive/csv/ES_2015.csv')
ES_2016=ES_2016.to_csv('/drive/MyDrive/csv/ES_2016.csv')
ES_2017=ES_2017.to_csv('/drive/MyDrive/csv/ES_2017.csv')
ES_2018=ES_2018.to_csv('/drive/MyDrive/csv/ES_2018.csv')
ES_2019=ES_2019.to_csv('/drive/MyDrive/csv/ES_2019.csv')
ES_2020=ES_2020.to_csv('/drive/MyDrive/csv/ES_2020.csv')
ES_2021=ES_2021.to_csv('/drive/MyDrive/csv/ES_2021.csv')
GO_2010=GO_2010.to_csv('/drive/MyDrive/csv/GO_2010.csv')
GO_2011=GO_2011.to_csv('/drive/MyDrive/csv/GO_2011.csv')
GO_2012=GO_2012.to_csv('/drive/MyDrive/csv/GO_2012.csv')
GO_2013=GO_2013.to_csv('/drive/MyDrive/csv/GO_2013.csv')
GO_2014=GO_2014.to_csv('/drive/MyDrive/csv/GO_2014.csv')
GO_2015=GO_2015.to_csv('/drive/MyDrive/csv/GO_2015.csv')
GO_2016=GO_2016.to_csv('/drive/MyDrive/csv/GO_2016.csv')
GO_2017=GO_2017.to_csv('/drive/MyDrive/csv/GO_2017.csv')
GO_2018=GO_2018.to_csv('/drive/MyDrive/csv/GO_2018.csv')
GO_2019=GO_2019.to_csv('/drive/MyDrive/csv/GO_2019.csv')
GO_2020=GO_2020.to_csv('/drive/MyDrive/csv/GO_2020.csv')
GO_2021=GO_2021.to_csv('/drive/MyDrive/csv/GO_2021.csv')
MA_2010=MA_2010.to_csv('/drive/MyDrive/csv/MA_2010.csv')
MA_2011=MA_2011.to_csv('/drive/MyDrive/csv/MA_2011.csv')
MA_2012=MA_2012.to_csv('/drive/MyDrive/csv/MA_2012.csv')
MA_2013=MA_2013.to_csv('/drive/MyDrive/csv/MA_2013.csv')
MA_2014=MA_2014.to_csv('/drive/MyDrive/csv/MA_2014.csv')
MA_2015=MA_2015.to_csv('/drive/MyDrive/csv/MA_2015.csv')
MA_2016=MA_2016.to_csv('/drive/MyDrive/csv/MA_2016.csv')
MA_2017=MA_2017.to_csv('/drive/MyDrive/csv/MA_2017.csv')
MA_2018=MA_2018.to_csv('/drive/MyDrive/csv/MA_2018.csv')
MA_2019=MA_2019.to_csv('/drive/MyDrive/csv/MA_2019.csv')
MA_2020=MA_2020.to_csv('/drive/MyDrive/csv/MA_2020.csv')
MA_2021=MA_2021.to_csv('/drive/MyDrive/csv/MA_2021.csv')
MT_2010=MT_2010.to_csv('/drive/MyDrive/csv/MT_2010.csv')
MT_2011=MT_2011.to_csv('/drive/MyDrive/csv/MT_2011.csv')
MT_2012=MT_2012.to_csv('/drive/MyDrive/csv/MT_2012.csv')
MT_2013=MT_2013.to_csv('/drive/MyDrive/csv/MT_2013.csv')
MT_2014=MT_2014.to_csv('/drive/MyDrive/csv/MT_2014.csv')
MT_2015=MT_2015.to_csv('/drive/MyDrive/csv/MT_2015.csv')
MT_2016=MT_2016.to_csv('/drive/MyDrive/csv/MT_2016.csv')
MT_2017=MT_2017.to_csv('/drive/MyDrive/csv/MT_2017.csv')
MT_2018=MT_2018.to_csv('/drive/MyDrive/csv/MT_2018.csv')
MT_2019=MT_2019.to_csv('/drive/MyDrive/csv/MT_2019.csv')
MT_2020=MT_2020.to_csv('/drive/MyDrive/csv/MT_2020.csv')
MT_2021=MT_2021.to_csv('/drive/MyDrive/csv/MT_2021.csv')
MS_2010=MS_2010.to_csv('/drive/MyDrive/csv/MS_2010.csv')
MS_2011=MS_2011.to_csv('/drive/MyDrive/csv/MS_2011.csv')
MS_2012=MS_2012.to_csv('/drive/MyDrive/csv/MS_2012.csv')
MS_2013=MS_2013.to_csv('/drive/MyDrive/csv/MS_2013.csv')
MS_2014=MS_2014.to_csv('/drive/MyDrive/csv/MS_2014.csv')
MS_2015=MS_2015.to_csv('/drive/MyDrive/csv/MS_2015.csv')
MS_2016=MS_2016.to_csv('/drive/MyDrive/csv/MS_2016.csv')
MS_2017=MS_2017.to_csv('/drive/MyDrive/csv/MS_2017.csv')
MS_2018=MS_2018.to_csv('/drive/MyDrive/csv/MS_2018.csv')
MS_2019=MS_2019.to_csv('/drive/MyDrive/csv/MS_2019.csv')
MS_2020=MS_2020.to_csv('/drive/MyDrive/csv/MS_2020.csv')
MS_2021=MS_2021.to_csv('/drive/MyDrive/csv/MS_2021.csv')
MG_2010=MG_2010.to_csv('/drive/MyDrive/csv/MG_2010.csv')
MG_2011=MG_2011.to_csv('/drive/MyDrive/csv/MG_2011.csv')
MG_2012=MG_2012.to_csv('/drive/MyDrive/csv/MG_2012.csv')
MG_2013=MG_2013.to_csv('/drive/MyDrive/csv/MG_2013.csv')
MG_2014=MG_2014.to_csv('/drive/MyDrive/csv/MG_2014.csv')
MG_2015=MG_2015.to_csv('/drive/MyDrive/csv/MG_2015.csv')
MG_2016=MG_2016.to_csv('/drive/MyDrive/csv/MG_2016.csv')
MG_2017=MG_2017.to_csv('/drive/MyDrive/csv/MG_2017.csv')
MG_2018=MG_2018.to_csv('/drive/MyDrive/csv/MG_2018.csv')
MG_2019=MG_2019.to_csv('/drive/MyDrive/csv/MG_2019.csv')
MG_2020=MG_2020.to_csv('/drive/MyDrive/csv/MG_2020.csv')
MG_2021=MG_2021.to_csv('/drive/MyDrive/csv/MG_2021.csv')
PA_2010=PA_2010.to_csv('/drive/MyDrive/csv/PA_2010.csv')
PA_2011=PA_2011.to_csv('/drive/MyDrive/csv/PA_2011.csv')
PA_2012=PA_2012.to_csv('/drive/MyDrive/csv/PA_2012.csv')
PA_2013=PA_2013.to_csv('/drive/MyDrive/csv/PA_2013.csv')
PA_2014=PA_2014.to_csv('/drive/MyDrive/csv/PA_2014.csv')
PA_2015=PA_2015.to_csv('/drive/MyDrive/csv/PA_2015.csv')
PA_2016=PA_2016.to_csv('/drive/MyDrive/csv/PA_2016.csv')
PA_2017=PA_2017.to_csv('/drive/MyDrive/csv/PA_2017.csv')
#PA_201=#PA_201.to_csv('/drive/MyDrive/csv/#PA_201.csv')
PA_2019=PA_2019.to_csv('/drive/MyDrive/csv/PA_2019.csv')
PA_2020=PA_2020.to_csv('/drive/MyDrive/csv/PA_2020.csv')
PA_2021=PA_2021.to_csv('/drive/MyDrive/csv/PA_2021.csv')
PB_2010=PB_2010.to_csv('/drive/MyDrive/csv/PB_2010.csv')
PB_2011=PB_2011.to_csv('/drive/MyDrive/csv/PB_2011.csv')
PB_2012=PB_2012.to_csv('/drive/MyDrive/csv/PB_2012.csv')
PB_2013=PB_2013.to_csv('/drive/MyDrive/csv/PB_2013.csv')
PB_2014=PB_2014.to_csv('/drive/MyDrive/csv/PB_2014.csv')
PB_2015=PB_2015.to_csv('/drive/MyDrive/csv/PB_2015.csv')
PB_2016=PB_2016.to_csv('/drive/MyDrive/csv/PB_2016.csv')
PB_2017=PB_2017.to_csv('/drive/MyDrive/csv/PB_2017.csv')
PB_2018=PB_2018.to_csv('/drive/MyDrive/csv/PB_2018.csv')
PB_2019=PB_2019.to_csv('/drive/MyDrive/csv/PB_2019.csv')
PB_2020=PB_2020.to_csv('/drive/MyDrive/csv/PB_2020.csv')
PB_2021=PB_2021.to_csv('/drive/MyDrive/csv/PB_2021.csv')
PR_2010=PR_2010.to_csv('/drive/MyDrive/csv/PR_2010.csv')
PR_2011=PR_2011.to_csv('/drive/MyDrive/csv/PR_2011.csv')
PR_2012=PR_2012.to_csv('/drive/MyDrive/csv/PR_2012.csv')
PR_2013=PR_2013.to_csv('/drive/MyDrive/csv/PR_2013.csv')
PR_2014=PR_2014.to_csv('/drive/MyDrive/csv/PR_2014.csv')
PR_2015=PR_2015.to_csv('/drive/MyDrive/csv/PR_2015.csv')
PR_2016=PR_2016.to_csv('/drive/MyDrive/csv/PR_2016.csv')
PR_2017=PR_2017.to_csv('/drive/MyDrive/csv/PR_2017.csv')
PR_2018=PR_2018.to_csv('/drive/MyDrive/csv/PR_2018.csv')
PR_2019=PR_2019.to_csv('/drive/MyDrive/csv/PR_2019.csv')
PR_2020=PR_2020.to_csv('/drive/MyDrive/csv/PR_2020.csv')
PR_2021=PR_2021.to_csv('/drive/MyDrive/csv/PR_2021.csv')
PE_2010=PE_2010.to_csv('/drive/MyDrive/csv/PE_2010.csv')
PE_2011=PE_2011.to_csv('/drive/MyDrive/csv/PE_2011.csv')
PE_2012=PE_2012.to_csv('/drive/MyDrive/csv/PE_2012.csv')
PE_2013=PE_2013.to_csv('/drive/MyDrive/csv/PE_2013.csv')
PE_2014=PE_2014.to_csv('/drive/MyDrive/csv/PE_2014.csv')
PE_2015=PE_2015.to_csv('/drive/MyDrive/csv/PE_2015.csv')
PE_2016=PE_2016.to_csv('/drive/MyDrive/csv/PE_2016.csv')
PE_2017=PE_2017.to_csv('/drive/MyDrive/csv/PE_2017.csv')
PE_2018=PE_2018.to_csv('/drive/MyDrive/csv/PE_2018.csv')
PE_2019=PE_2019.to_csv('/drive/MyDrive/csv/PE_2019.csv')
PE_2020=PE_2020.to_csv('/drive/MyDrive/csv/PE_2020.csv')
PE_2021=PE_2021.to_csv('/drive/MyDrive/csv/PE_2021.csv')
PI_2010=PI_2010.to_csv('/drive/MyDrive/csv/PI_2010.csv')
PI_2011=PI_2011.to_csv('/drive/MyDrive/csv/PI_2011.csv')
PI_2012=PI_2012.to_csv('/drive/MyDrive/csv/PI_2012.csv')
PI_2013=PI_2013.to_csv('/drive/MyDrive/csv/PI_2013.csv')
PI_2014=PI_2014.to_csv('/drive/MyDrive/csv/PI_2014.csv')
PI_2015=PI_2015.to_csv('/drive/MyDrive/csv/PI_2015.csv')
PI_2016=PI_2016.to_csv('/drive/MyDrive/csv/PI_2016.csv')
PI_2017=PI_2017.to_csv('/drive/MyDrive/csv/PI_2017.csv')
PI_2018=PI_2018.to_csv('/drive/MyDrive/csv/PI_2018.csv')
PI_2019=PI_2019.to_csv('/drive/MyDrive/csv/PI_2019.csv')
PI_2020=PI_2020.to_csv('/drive/MyDrive/csv/PI_2020.csv')
PI_2021=PI_2021.to_csv('/drive/MyDrive/csv/PI_2021.csv')
RJ_2010=RJ_2010.to_csv('/drive/MyDrive/csv/RJ_2010.csv')
RJ_2011=RJ_2011.to_csv('/drive/MyDrive/csv/RJ_2011.csv')
RJ_2012=RJ_2012.to_csv('/drive/MyDrive/csv/RJ_2012.csv')
RJ_2013=RJ_2013.to_csv('/drive/MyDrive/csv/RJ_2013.csv')
RJ_2014=RJ_2014.to_csv('/drive/MyDrive/csv/RJ_2014.csv')
RJ_2015=RJ_2015.to_csv('/drive/MyDrive/csv/RJ_2015.csv')
RJ_2016=RJ_2016.to_csv('/drive/MyDrive/csv/RJ_2016.csv')
RJ_2017=RJ_2017.to_csv('/drive/MyDrive/csv/RJ_2017.csv')
RJ_2018=RJ_2018.to_csv('/drive/MyDrive/csv/RJ_2018.csv')
RJ_2019=RJ_2019.to_csv('/drive/MyDrive/csv/RJ_2019.csv')
RJ_2020=RJ_2020.to_csv('/drive/MyDrive/csv/RJ_2020.csv')
RJ_2021=RJ_2021.to_csv('/drive/MyDrive/csv/RJ_2021.csv')
RN_2010=RN_2010.to_csv('/drive/MyDrive/csv/RN_2010.csv')
RN_2011=RN_2011.to_csv('/drive/MyDrive/csv/RN_2011.csv')
RN_2012=RN_2012.to_csv('/drive/MyDrive/csv/RN_2012.csv')
RN_2013=RN_2013.to_csv('/drive/MyDrive/csv/RN_2013.csv')
RN_2014=RN_2014.to_csv('/drive/MyDrive/csv/RN_2014.csv')
RN_2015=RN_2015.to_csv('/drive/MyDrive/csv/RN_2015.csv')
RN_2016=RN_2016.to_csv('/drive/MyDrive/csv/RN_2016.csv')
RN_2017=RN_2017.to_csv('/drive/MyDrive/csv/RN_2017.csv')
RN_2018=RN_2018.to_csv('/drive/MyDrive/csv/RN_2018.csv')
RN_2019=RN_2019.to_csv('/drive/MyDrive/csv/RN_2019.csv')
RN_2020=RN_2020.to_csv('/drive/MyDrive/csv/RN_2020.csv')
RN_2021=RN_2021.to_csv('/drive/MyDrive/csv/RN_2021.csv')
RS_2010=RS_2010.to_csv('/drive/MyDrive/csv/RS_2010.csv')
RS_2011=RS_2011.to_csv('/drive/MyDrive/csv/RS_2011.csv')
RS_2012=RS_2012.to_csv('/drive/MyDrive/csv/RS_2012.csv')
RS_2013=RS_2013.to_csv('/drive/MyDrive/csv/RS_2013.csv')
RS_2014=RS_2014.to_csv('/drive/MyDrive/csv/RS_2014.csv')
RS_2015=RS_2015.to_csv('/drive/MyDrive/csv/RS_2015.csv')
RS_2016=RS_2016.to_csv('/drive/MyDrive/csv/RS_2016.csv')
RS_2017=RS_2017.to_csv('/drive/MyDrive/csv/RS_2017.csv')
RS_2018=RS_2018.to_csv('/drive/MyDrive/csv/RS_2018.csv')
RS_2019=RS_2019.to_csv('/drive/MyDrive/csv/RS_2019.csv')
RS_2020=RS_2020.to_csv('/drive/MyDrive/csv/RS_2020.csv')
RS_2021=RS_2021.to_csv('/drive/MyDrive/csv/RS_2021.csv')
RO_2010=RO_2010.to_csv('/drive/MyDrive/csv/RO_2010.csv')
RO_2011=RO_2011.to_csv('/drive/MyDrive/csv/RO_2011.csv')
RO_2012=RO_2012.to_csv('/drive/MyDrive/csv/RO_2012.csv')
RO_2013=RO_2013.to_csv('/drive/MyDrive/csv/RO_2013.csv')
RO_2014=RO_2014.to_csv('/drive/MyDrive/csv/RO_2014.csv')
RO_2015=RO_2015.to_csv('/drive/MyDrive/csv/RO_2015.csv')
RO_2016=RO_2016.to_csv('/drive/MyDrive/csv/RO_2016.csv')
RO_2017=RO_2017.to_csv('/drive/MyDrive/csv/RO_2017.csv')
RO_2018=RO_2018.to_csv('/drive/MyDrive/csv/RO_2018.csv')
RO_2019=RO_2019.to_csv('/drive/MyDrive/csv/RO_2019.csv')
RO_2020=RO_2020.to_csv('/drive/MyDrive/csv/RO_2020.csv')
RO_2021=RO_2021.to_csv('/drive/MyDrive/csv/RO_2021.csv')
RR_2010=RR_2010.to_csv('/drive/MyDrive/csv/RR_2010.csv')
RR_2011=RR_2011.to_csv('/drive/MyDrive/csv/RR_2011.csv')
RR_2012=RR_2012.to_csv('/drive/MyDrive/csv/RR_2012.csv')
RR_2013=RR_2013.to_csv('/drive/MyDrive/csv/RR_2013.csv')
RR_2014=RR_2014.to_csv('/drive/MyDrive/csv/RR_2014.csv')
RR_2015=RR_2015.to_csv('/drive/MyDrive/csv/RR_2015.csv')
RR_2016=RR_2016.to_csv('/drive/MyDrive/csv/RR_2016.csv')
RR_2017=RR_2017.to_csv('/drive/MyDrive/csv/RR_2017.csv')
RR_2018=RR_2018.to_csv('/drive/MyDrive/csv/RR_2018.csv')
RR_2019=RR_2019.to_csv('/drive/MyDrive/csv/RR_2019.csv')
RR_2020=RR_2020.to_csv('/drive/MyDrive/csv/RR_2020.csv')
RR_2021=RR_2021.to_csv('/drive/MyDrive/csv/RR_2021.csv')
SC_2010=SC_2010.to_csv('/drive/MyDrive/csv/SC_2010.csv')
SC_2011=SC_2011.to_csv('/drive/MyDrive/csv/SC_2011.csv')
SC_2012=SC_2012.to_csv('/drive/MyDrive/csv/SC_2012.csv')
SC_2013=SC_2013.to_csv('/drive/MyDrive/csv/SC_2013.csv')
SC_2014=SC_2014.to_csv('/drive/MyDrive/csv/SC_2014.csv')
SC_2015=SC_2015.to_csv('/drive/MyDrive/csv/SC_2015.csv')
SC_2016=SC_2016.to_csv('/drive/MyDrive/csv/SC_2016.csv')
SC_2017=SC_2017.to_csv('/drive/MyDrive/csv/SC_2017.csv')
SC_2018=SC_2018.to_csv('/drive/MyDrive/csv/SC_2018.csv')
SC_2019=SC_2019.to_csv('/drive/MyDrive/csv/SC_2019.csv')
SC_2020=SC_2020.to_csv('/drive/MyDrive/csv/SC_2020.csv')
SC_2021=SC_2021.to_csv('/drive/MyDrive/csv/SC_2021.csv')
SP_2010=SP_2010.to_csv('/drive/MyDrive/csv/SP_2010.csv')
SP_2011=SP_2011.to_csv('/drive/MyDrive/csv/SP_2011.csv')
SP_2012=SP_2012.to_csv('/drive/MyDrive/csv/SP_2012.csv')
SP_2013=SP_2013.to_csv('/drive/MyDrive/csv/SP_2013.csv')
SP_2014=SP_2014.to_csv('/drive/MyDrive/csv/SP_2014.csv')
SP_2015=SP_2015.to_csv('/drive/MyDrive/csv/SP_2015.csv')
SP_2016=SP_2016.to_csv('/drive/MyDrive/csv/SP_2016.csv')
SP_2017=SP_2017.to_csv('/drive/MyDrive/csv/SP_2017.csv')
SP_2018=SP_2018.to_csv('/drive/MyDrive/csv/SP_2018.csv')
SP_2019=SP_2019.to_csv('/drive/MyDrive/csv/SP_2019.csv')
SP_2020=SP_2020.to_csv('/drive/MyDrive/csv/SP_2020.csv')
SP_2021=SP_2021.to_csv('/drive/MyDrive/csv/SP_2021.csv')
SE_2010=SE_2010.to_csv('/drive/MyDrive/csv/SE_2010.csv')
SE_2011=SE_2011.to_csv('/drive/MyDrive/csv/SE_2011.csv')
SE_2012=SE_2012.to_csv('/drive/MyDrive/csv/SE_2012.csv')
SE_2013=SE_2013.to_csv('/drive/MyDrive/csv/SE_2013.csv')
SE_2014=SE_2014.to_csv('/drive/MyDrive/csv/SE_2014.csv')
SE_2015=SE_2015.to_csv('/drive/MyDrive/csv/SE_2015.csv')
SE_2016=SE_2016.to_csv('/drive/MyDrive/csv/SE_2016.csv')
SE_2017=SE_2017.to_csv('/drive/MyDrive/csv/SE_2017.csv')
SE_2018=SE_2018.to_csv('/drive/MyDrive/csv/SE_2018.csv')
SE_2019=SE_2019.to_csv('/drive/MyDrive/csv/SE_2019.csv')
SE_2020=SE_2020.to_csv('/drive/MyDrive/csv/SE_2020.csv')
SE_2021=SE_2021.to_csv('/drive/MyDrive/csv/SE_2021.csv')
TO_2010=TO_2010.to_csv('/drive/MyDrive/csv/TO_2010.csv')
TO_2011=TO_2011.to_csv('/drive/MyDrive/csv/TO_2011.csv')
TO_2012=TO_2012.to_csv('/drive/MyDrive/csv/TO_2012.csv')
TO_2013=TO_2013.to_csv('/drive/MyDrive/csv/TO_2013.csv')
TO_2014=TO_2014.to_csv('/drive/MyDrive/csv/TO_2014.csv')
TO_2015=TO_2015.to_csv('/drive/MyDrive/csv/TO_2015.csv')
TO_2016=TO_2016.to_csv('/drive/MyDrive/csv/TO_2016.csv')
TO_2017=TO_2017.to_csv('/drive/MyDrive/csv/TO_2017.csv')
TO_2018=TO_2018.to_csv('/drive/MyDrive/csv/TO_2018.csv')
TO_2019=TO_2019.to_csv('/drive/MyDrive/csv/TO_2019.csv')
TO_2020=TO_2020.to_csv('/drive/MyDrive/csv/TO_2020.csv')
TO_2021=TO_2021.to_csv('/drive/MyDrive/csv/TO_2021.csv')

Drive already mounted at /drive; to attempt to forcibly remount, call drive.mount("/drive", force_remount=True).

In [ ]:
from google.colab import drive
drive.mount('/content/drive')